﻿@model AteneoHighschool.Data.Access.LogIn
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#tabs").tabs();
    });
    $("#button-login").button({
        icons: {
            primary: "ui-icon-unlocked"
        }
    });
</script>
<style>
    .padding
    {
        padding: .7em;
        border-bottom-width: 0!important;
    }
</style>
<div class="padding">
    <h2>@ViewBag.Title</h2>
    <div id="tabs">
        <ul>
            <li><a href="#content-tabs-login">Log In</a></li>
        </ul>
        <div id="content-tabs-login">
            @using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="ui-widget ui-form">
                    <div class="ui-widget-content ui-form-body">
                        <fieldset>
                            <div>
                                <label>UserName: </label>
                                @Html.EditorFor(model => model.UserName)
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>

                            <div>
                                <label>Password: </label>
                                @Html.EditorFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>

                            <div>
                                <label>RememberMe: </label>
                                @Html.CheckBoxFor(model => model.RememberMe)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </fieldset>
                        <div>
                            <input type="submit" class="uiButton" value="Log in" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

