﻿@model AteneoHighschool.Data.GroupAdviserVM

@{
    ViewBag.Title = "Create";
}

@using (@Html.BeginForm("CreateJson", "GroupAdviser", FormMethod.Post, new { @id = "CreateGroupAdviserForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupAdviser.Group)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GroupAdviser.GroupId, Model.GroupVM.GroupList, "")
            @Html.ValidationMessageFor(model => model.GroupAdviser.GroupId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupAdviser.Employee)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GroupAdviser.EmployeeId, Model.EmployeeVM.EmployeeList, "")
            @Html.ValidationMessageFor(model => model.GroupAdviser.EmployeeId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/GroupAdviser/Create.js")" type="text/javascript"></script>

