﻿@model AteneoHighschool.Data.GroupAdviserVM

@using (@Html.BeginForm("DeleteJson", "GroupAdviser", FormMethod.Post, new { @id = "DeleteGroupAdviserForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.GroupAdviser.GroupAdviserId)

         <h3>Are you sure you want to delete this?</h3>
<fieldset class="ui-form">
    <div>
        Group :
    </div>

    <div>
        @Html.DisplayFor(model => model.GroupAdviser.Group.GroupName)
    </div>

    <div>
        Adviser :
    </div>

    <div>
        @Html.DisplayFor(model => model.GroupAdviser.Employee.FullName)
    </div>
</fieldset>
}
<script src="@Url.Content("~/Content/Js/GroupAdviser/Delete.js")" type="text/javascript"></script>