﻿@model AteneoHighschool.Data.GroupAdviserVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "GroupAdviser", FormMethod.Post, new { @id = "EditGroupAdviserForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.GroupAdviser.GroupAdviserId)
         @Html.HiddenFor(model => model.GroupVM.Group.GroupId)
         @Html.HiddenFor(model => model.EmployeeVM.Employee.EmployeeId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupAdviser.Group)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GroupAdviser.GroupId, Model.GroupVM.GroupList, "")
            @Html.ValidationMessageFor(model => model.GroupAdviser.GroupId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupAdviser.Employee)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GroupAdviser.EmployeeId, Model.EmployeeVM.EmployeeList, "")
            @Html.ValidationMessageFor(model => model.GroupAdviser.EmployeeId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/GroupAdviser/Edit.js")" type="text/javascript"></script>
