﻿@{
    ViewBag.Title = "GROUP ADVISER MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Group Adviser" data-url="GroupAdviser/Create" data-id="CreateGroupAdviserDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="GroupAdviserDT">
    <thead>
        <tr>
            <th></th>
            <th>Group</th>
            <th>Adviser</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/GroupAdviser/Index.js")" type="text/javascript"></script>
