﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? "EPOST - " + @ViewBag.Title : "EPOST")
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/flexslider.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/default/jquery-ui-1.10.3.custom.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/others.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/fullcalendar.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/fullcalendar.print.css")"/>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.9.2.dialog.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-collapse.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-tab.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/shCore.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/shBrushXml.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/shBrushJScript.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/validate.extension.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
   
    <style type="text/css" media="print">
        #nonprintable { 
            display: none; 
        }
        #printable { 
            display: block;
        }
    </style>
    <style type="text/css">
        body
        {
            padding-top: 50px;
            padding-bottom: 40px;
        }
        
        /* Custom container */
        .container {
            margin: 0 auto;
            max-width: 1000px;
            -moz-min-width: 1000px;
            -ms-min-width: 1000px;
            -o-min-width: 1000px;
            -webkit-min-width: 1000px;
            min-width: 1000px;
        }

        footer
        {
            max-width: 100%;
        }
    </style>
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
</head>
    <body>
        <div class="container">
            <header>
                <img alt="" src="@Url.Content("~/Content/images/logo.png")" />
            </header>
            @Html.Partial("_LogIn")
            @Html.Partial("_Navigation")
            @RenderBody()
            <footer>
                <div class="container">
                    <div class="row-fluid">
                        <div class="span12">
                            <img alt="" src="@Url.Content("~/Content/images/footer.png")" />
                        </div>
                    </div>
                </div>
            </footer>
            @*@Html.Partial("_ViewSwitcher")*@
        </div>
    </body>
</html>
