﻿@model AteneoHighschool.Data.Access.LogIn
<style type="text/css" media="print">
    #nonprintable { 
        display: none; 
    }
    #printable { 
        display: block;
    }
</style>
<style>
    label.welcome
    {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 10px 15px;
        color: #ffffff;
    }
    label.change
    {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 10px 15px;
    }
    label.logout
    {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 10px 15px;
    }
</style>
<div class="navbar navbar-inverse navbar-fixed-top" id="nonprintable">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button>
            <div class="nav-collapse collapse">
                @using (Html.BeginForm("LogIn", "Account", new { }, FormMethod.Post, new { @class = "navbar-form pull-right" }))
                {
                    if (!Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <label class="welcome">
                            Username: @Html.TextBoxFor(model => model.UserName, new {@class = "input-medium"})
                            Password: @Html.PasswordFor(model => model.Password, new {@class = "input-medium"})
                            <button class="btn btn-mini btn-primary" type="submit">Login</button>
                        </label>
                        @Html.Raw("&nbsp&nbsp&nbsp&nbsp")
                       @*<a href="@Url.Action("ForgotPassword", "Account")" class= "forgot-password">Forgot Password? </a>*@
                    }
                    else
                    {
                        <label class="welcome">
                            Welcome @User.Identity.Name
                        </label>
                        <label class="change">
                            @*<a href="@Url.Action("EditProfile", "Account", new { Area = "" })">Edit Profile</a>*@
                            <a href="">Edit Profile</a>
                        </label>
                        <label class="change">
                            @*<a href="@Url.Action("ChangePassword", "Account", new { Area = "" })">Change Password</a>*@
                            <a href="">Change Password</a>
                        </label>
                        if (HttpContext.Current.User.IsInRole("Administrator"))
                        {
                            <label class="change">
                                @*<a href="http://www.ateneoepost.com:9999" target="_blank">Admin Site</a>*@
                                <a href="" target="_blank">Admin Site</a>
                            </label>
                        }
                        <label class="logout">
                            <a href="@Url.Action("LogOut", "Account", new {Area = ""})">Log out</a>
                        </label>
                    }
                }
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>