﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <style type="text/css" media="print">
        #nonprintable { 
            display: none; 
        }
        #printable { 
            display: block;
        }
    </style>
    <style type="text/css">
        .navbar .navbar-inner
        {
            padding: 0;
        }
        .navbar .nav
        {
            margin: 0;
            display: table;
            width: 110%;
        }
        .navbar .nav li {
            display: block;
            -moz-min-width: 166.5px;
            -ms-min-width: 166.5px;
            -o-min-width: 166.5px;
            -webkit-min-width: 166.5px;
            min-width: 166.5px;
            float: left;
        }

        .navbar .nav li a
        {
            color: white !important;
            text-align: center;
            border-left: 1px solid #3366CC;
            border-right: 1px solid #3366CC;
            background: #0f52ba repeat-x left top !important;
            font-weight: bold;
        }
        .navbar .nav li:first-child a {
            border-left: 0;
            -ms-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
        }

        .navbar .nav li:last-child a {
            border-right: 0;
            -ms-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
        }

        .container
        {
            margin: 0 auto;
        }
    </style>
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container" id="nonprintable">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        @if (Request.IsAuthenticated)
                        {
                            <ul class="nav">
                                @if (HttpContext.Current.User.IsInRole("Subject Teacher") || HttpContext.Current.User.IsInRole("Academic Principal"))
                                {
                                    <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                                    <li><a href="@Url.Action("Index", "Communication")">COMMUNICATION</a></li>
                                    <li><a href="@Url.Action("Index", "Pathway")">PATHWAY</a></li>
                                    <li><a>REFERENCES</a></li>
                                    <li><a href="@Url.Action("StatementOfAccount", "Ewallet")">EWALLET</a></li>
                                    <li><a href="http://localhost:60487">TEACHER WORKSPACE</a></li> //Change this when the website is already uploaded in the server
                                    @*<li><a href="http://ateneoepost.com/hs/admin">TEACHER WORKSPACE</a></li>*@
                                }
                                @if (HttpContext.Current.User.IsInRole("Parent") || HttpContext.Current.User.IsInRole("Student"))
                                {
                                    <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                                    <li><a href="@Url.Action("Index", "Communication")">COMMUNICATION</a></li>
                                    <li><a href="@Url.Action("Index", "Pathway")">PATHWAY</a></li>
                                    <li><a>REFERENCES</a></li>
                                    <li><a>REQUEST</a></li>
                                    <li><a>PERFORMANCE</a></li>
                                }
                            </ul>
                        }
                    </div>
                    <!-- /.nav-collapse collapse-->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.navbar-inner -->
        </div>
        <!-- /.navbar -->
    </div>
</body>
</html>
