﻿@{
    ViewBag.Title = "Prohibited Functionality";
}

<hgroup class="title">
    <h1 class="error" style="color: red">@ViewBag.Title</h1>
    <p style="color: red">@ViewBag.ProhibitedMessage</p>
</hgroup>
