﻿@model IEnumerable<AteneoHighschool.Models.StatementOfAccount>
<div class="ui-grid-body">
    <table style="width:100%;">
        <tr>
            <td style="color: white; font-size: 20px; text-align: left;">Name: </td>
            <td style="color: white; font-size: 15px; text-align: left;">@ViewBag.Name</td>
            <td style="color: white; font-size: 20px; text-align: left;">SOA number: </td>
            <td style="color: white; font-size: 15px; text-align: left;">N/A</td>
        </tr>
        <tr>
            <td style="color: white; font-size: 20px; text-align: left;">Account number: </td>
            <td style="color: white; font-size: 15px; text-align: left;">@ViewBag.IdNumber</td>
            <td style="color: white; font-size: 20px; text-align: left;">Period: </td>
            <td style="color: white; font-size: 15px; text-align: left;">@ViewBag.ReportDate</td>
        </tr>
        <tr>
            <td style="color: white; font-size: 20px; text-align: left;">Close-loop clusters: </td>
            <td style="color: white; font-size: 15px; text-align: left;">SHS-ADC</td>
            <td style="color: white; font-size: 20px; text-align: left;">Total purchases: </td>
            <td style="color: white; font-size: 15px; text-align: left;">@ViewBag.TotalPurchase</td>
        </tr>
        <tr>
            <td style="color: white; font-size: 20px; text-align: left;"></td>
            <td style="color: white; font-size: 15px; text-align: left;"></td>
            <td style="color: white; font-size: 20px; text-align: left;">Total points earned: </td>
            <td style="color: white; font-size: 15px; text-align: left;">N/A</td>
        </tr>
    </table>
    <br/>
    <table class="table-striped table-hover" style="background-color: skyblue">
        <thead>
            <tr class="ui-state-default">
                <th style="width:20%;">Transaction Date</th>
                <th style="width:10%;">Company Name</th>
                <th style="width:20%;">Product Name</th>
                <th style="width:10%;">Price</th>
                <th style="width:10%;">Quantity</th>
                <th style="width:10%;">Amount</th>
                <th style="width:20%;">Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@item.TransactionDate</td>
                    <td style="text-align: center">@item.CompanyName</td>
                    <td style="text-align: center">@item.ProductName</td>
                    <td style="text-align: center">@item.Price</td>
                    <td style="text-align: center">@item.Quantity</td>
                    <td style="text-align: center">@item.Amount</td>
                    <td style="text-align: center">@item.Balance</td>
                </tr>
            }
        </tbody>
    </table>
</div>