﻿@{
    ViewBag.Title = "EPOST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: white">Statement Of Account</h2>

<div class="ui-grid" style="text-align: center">
    @{ 
        Html.RenderAction("StatementOfAccountGrid", "Ewallet");
    }
</div>