﻿@model IEnumerable<AteneoHighschool.Data.CurriculumItem>
<div class="ui-grid">
            @if (Model.Any())
            {
                <div id="checkboxes" class="ui-grid-body">
                    <table class="table-striped table-hover" id="FileDT">
                        <thead>
                            <tr class="ui-state-default">
                                <th>Curriculum</th>
                                <th>Description</th>
                                <th>Academic Year</th>
                                <th>Course</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Curriculum.CurriculumName
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.Curriculum.AcademicYear.AcademicYearName
                                    </td>
                                    <td>
                                        @item.ProficiencyLevel.ProficiencyLevelName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            { 
                <div class="ui-widget-content ui-corner-bottom ui-helper-clearfix" style="padding: 0.5em;">
                    No results found
                </div>
            }
        </div> 