﻿@model AteneoHighschool.Data.CurriculumVM
<div class="ui-widget ui-widget-content ui-form-body">
    <fieldset>
        @Html.HiddenFor(model => model.Curriculum.CurriculumId)
        <div>
            <label>Proficiency Set: </label>
            @Html.DisplayFor(model => model.Curriculum.CurriculumName)
        </div>
        <div>
            <label>Framework Name: </label>
            @Html.DisplayFor(model => model.Curriculum.CurriculumName)
        </div>
        <div>
            <label>Description: </label>
            @Html.DisplayFor(model => model.Curriculum.Description)
        </div>
        <div>
            <label>Start Date: </label>
            @Html.DisplayFor(model => model.Curriculum.StartDate) 
        </div>
        <div>
            <label>End Date: </label>
            @Html.DisplayFor(model => model.Curriculum.EndDate)
        </div>
    </fieldset>
</div>