﻿@model AteneoHighschool.Data.CurriculumVM

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("CreateJson", "Curriculum", FormMethod.Post, new { @id = "CreateCurriculumForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Curriculum.CurriculumName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Curriculum.CurriculumName)
            @Html.ValidationMessageFor(model => model.Curriculum.CurriculumName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Curriculum.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Curriculum.Description)
            @Html.ValidationMessageFor(model => model.Curriculum.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Curriculum.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Curriculum.StartDate)
            @Html.ValidationMessageFor(model => model.Curriculum.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Curriculum.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Curriculum.EndDate)
            @Html.ValidationMessageFor(model => model.Curriculum.EndDate)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Curriculum.AcademicYear)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Curriculum.AcademicYearId, Model.AcademicYearVM.AcademicYearList, "")
            @Html.ValidationMessageFor(model => model.Curriculum.AcademicYearId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Curriculum.Course)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Curriculum.CourseId, Model.CourseVM.CourseList, "")
            @Html.ValidationMessageFor(model => model.Curriculum.CourseId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Curriculum/Create.js")" type="text/javascript"></script>
