﻿@model AteneoHighschool.Data.CurriculumVM

@using (@Html.BeginForm("DeleteJson", "Curriculum", FormMethod.Post, new {@id = "DeleteCurriculumForm"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Curriculum.CurriculumId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            @Html.DisplayNameFor(model => model.Curriculum.CurriculumName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Curriculum.CurriculumName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Curriculum.Description) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Curriculum.Description)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Curriculum.StartDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Curriculum.StartDate)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Curriculum.EndDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Curriculum.EndDate)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Curriculum/Delete.js")" type="text/javascript"></script>