﻿@model AteneoHighschool.Data.CurriculumVM

@{
    ViewBag.Title = string.Format("Curriculum: {0}", Model.Curriculum.CurriculumName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/default/jquery-ui-1.10.3.custom.css")" media="all" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<h2>@ViewBag.Title</h2>
<div id="tabs">
    <ul>
        <li><a href="#detail-tab">Details</a></li>
        <li><a href="#curriculum-item-tab">Curriculum Items</a></li>
    </ul>
    <div id="detail-tab">
        @{
            <div class="ui-widget-header ui-tool-bar">
                <a href="@Url.Action("Index", "Curriculum")" title="Click this Icon to View Curriculums" class="uiButton">Back</a>
            </div>
            <div class="ui-form">
                @Html.Partial("_Detail", Model)
            </div>
        }
    </div>

    <div id="curriculum-item-tab" style="font-size: 18px">Subject Items</div>
    <div>
        @{
            Html.RenderAction("CurriculumItems", "Curriculum", new { curriclumId = Model.Curriculum.CurriculumId});
        }
    </div>
</div>