﻿@{
    ViewBag.Title = "CURRICULUM MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Curriculum" data-url="Curriculum/Create" data-id="CreateCurriculumDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="CurriculumDT">
    <thead>
        <tr>
            <th></th>
            <th>Curriculum</th>
            <th>Description</th>
            <th>Academic Year</th>
            <th>Course</th>
            <th>Start Date</th>
            <th>End Date</th>
            
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Curriculum/Index.js")" type="text/javascript"></script>
