﻿@model AteneoHighschool.Data.PersonVM
<div class="ui-widget ui-widget-content ui-form-body">
    <fieldset>
        @Html.HiddenFor(model => model.Person.PersonId)
        <div>
            <label>Full Name: </label>
            @Html.DisplayFor(model => model.Person.Prefix.PrefixName) @Html.DisplayFor(model => model.Person.FullName)
        </div>
        <div>
            <label>Gender: </label>
            @Html.DisplayFor(model => model.Person.Gender.GenderName)
        </div>
        <div>
            <label>Age: </label>
            @Html.DisplayFor(model => model.Person.Age) 
        </div>
    </fieldset>
</div>