﻿@model AteneoHighschool.Data.PersonVM

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("CreateJson", "Person", FormMethod.Post, new { @id = "CreatePersonForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Prefix)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Person.PrefixId, Model.PrefixVM.PrefixList, "")
            @Html.ValidationMessageFor(model => model.Person.PrefixId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Person.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.FirstName)
            @Html.ValidationMessageFor(model => model.Person.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.MiddleName)
            @Html.ValidationMessageFor(model => model.Person.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.LastName)
            @Html.ValidationMessageFor(model => model.Person.LastName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Suffix)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.Suffix)
            @Html.ValidationMessageFor(model => model.Person.Suffix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Person.GenderId, Model.GenderVM.GenderList, "")
            @Html.ValidationMessageFor(model => model.Person.GenderId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.BirthDate)
        </div>
        <div id="datepicker">
            @Html.EditorFor(model => model.Person.BirthDate, new { @class="date-picker" })
            @Html.ValidationMessageFor(model => model.Person.BirthDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Person.CivilStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Person.CivilStatusId, Model.CivilStatusVM.CivilStatusList, "")
            @Html.ValidationMessageFor(model => model.Person.CivilStatusId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Person/Create.js")" type="text/javascript"></script>

