﻿@model AteneoHighschool.Data.PersonVM

@using (@Html.BeginForm("DeleteJson", "Person", FormMethod.Post, new { @id = "DeletePersonForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Person.PersonId)

         <h3>Are you sure you want to delete this?</h3>
<fieldset class="ui-form">
    <div>
        @Html.DisplayFor(model => model.Person.Prefix.PrefixName) @Html.DisplayFor(model => model.Person.FullName)
    </div>

    <div>
        @Html.DisplayFor(model => model.Person.Gender.GenderName)
    </div>

    <div>
        @Html.DisplayFor(model => model.Person.Age)
    </div>

    <div>
        @Html.DisplayFor(model => model.Person.BirthDate)
    </div>

    <div>
        @Html.DisplayFor(model => model.Person.CivilStatus.CivilStatusName)
    </div>
</fieldset>
}
<script src="@Url.Content("~/Content/Js/Person/Delete.js")" type="text/javascript"></script>