﻿@model AteneoHighschool.Data.PersonVM

@{
    ViewBag.Title = string.Format("Person: {0}", Model.Person.FullName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" language="javascript">
    $(function () {
        $(".button-create").button({
            text: true,
            icons: {
                primary: "ui-icon-plusthick"
            }
        });
    });
</script>
<h2>@ViewBag.Title</h2>
<div>
    <div class="ui-widget-header ui-tool-bar" style="font-size: 18px">Details</div>
    <div id="content-tabs-framework-detail">
        @{
            <div class="ui-widget-header ui-tool-bar">
                <a href="@Url.Action("Index", "Person")" title="Click this Icon to View Persons" class="uiButton">Back</a>
                @Html.ActionLink("Create User", "Create", "User", new { personId = Model.Person.PersonId }, new { @class = "button-create" })
            </div>
            <div class="ui-form">
                @Html.Partial("_Detail", Model)
            </div>
        }
    </div>
</div>