﻿@{
    ViewBag.Title = "PEOPLE";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Person" data-url="Person/Create" data-id="CreatePersonDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="PersonDT">
    <thead>
        <tr>
            <th></th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birth Date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Person/Index.js")" type="text/javascript"></script>
