﻿@model AteneoHighschool.Data.SchoolVM

@{
    ViewBag.Title = "Create";
}

@using (@Html.BeginForm("CreateJson", "School", FormMethod.Post, new { @id = "CreateSchoolForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            School Code :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.School.SchoolCode)
            @Html.ValidationMessageFor(model => model.School.SchoolCode)
        </div>

        <div class="editor-label">
            School Name : 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.School.SchoolName)
            @Html.ValidationMessageFor(model => model.School.SchoolName)
        </div>

        <div class="editor-label">
            Description : 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.School.Description)
            @Html.ValidationMessageFor(model => model.School.Description)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/School/Create.js")" type="text/javascript"></script>
