﻿@model AteneoHighschool.Data.SchoolVM

@using (@Html.BeginForm("DeleteJson", "School", FormMethod.Post, new {@id = "DeleteSchoolForm"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.School.SchoolId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            School Code :
        </div>
        <div>
            @Html.DisplayFor(model => model.School.SchoolCode)
        </div>

        <div>
            School Name :
        </div>
        <div>
            @Html.DisplayFor(model => model.School.SchoolName)
        </div>

        <div>
            Description :
        </div>
        <div>
            @Html.DisplayFor(model => model.School.Description)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/School/Delete.js")" type="text/javascript"></script>