﻿@model AteneoHighschool.Data.SchoolVM
@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "School", FormMethod.Post, new { @id = "EditSchoolForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.School.SchoolId)

    <fieldset class="ui-form">
        <div class="editor-label">
            School Code :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.School.SchoolCode)
            @Html.ValidationMessageFor(model => model.School.SchoolCode)
        </div>

        <div class="editor-label">
            School Name : 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.School.SchoolName)
            @Html.ValidationMessageFor(model => model.School.SchoolName)
        </div>

        <div class="editor-label">
            Description : 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.School.Description)
            @Html.ValidationMessageFor(model => model.School.Description)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/School/Edit.js")" type="text/javascript"></script>
