﻿@{
    ViewBag.Title = "SCHOOL MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create School" data-url="School/Create" data-id="CreateSchoolDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="SchoolDT">
    <thead>
        <tr>
            <th></th>
            <th>School Code</th>
            <th>School Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/School/Index.js")" type="text/javascript"></script>