﻿@model AteneoHighschool.Data.ExceptionVM

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("CreateJson", "Exception", FormMethod.Post, new { @id = "CreateExceptionForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Exception.ExceptionName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Exception.ExceptionName)
            @Html.ValidationMessageFor(model => model.Exception.ExceptionName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Exception.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Exception.Description, "TextArea")
            @Html.ValidationMessageFor(model => model.Exception.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Exception.StartDate)
        </div>
        <div id="datepicker">
            @Html.EditorFor(model => model.Exception.StartDate, new { @class="date-picker" })
            @Html.ValidationMessageFor(model => model.Exception.StartDate)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Exception.EndDate)
        </div>
        <div id="datepicker">
            @Html.EditorFor(model => model.Exception.EndDate, new { @class="date-picker" })
            @Html.ValidationMessageFor(model => model.Exception.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Exception.AcademicYear)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Exception.AcademicYearId, Model.AcademicYearVM.AcademicYearList, "")
            @Html.ValidationMessageFor(model => model.Exception.AcademicYearId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Exception/Create.js")" type="text/javascript"></script>

