﻿@model AteneoHighschool.Data.ExceptionVM

@using (@Html.BeginForm("DeleteJson", "Exception", FormMethod.Post, new { @id = "DeleteExceptionForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Exception.ExceptionId)
         @Html.HiddenFor(model => model.Exception.StartDate)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        
        <div>
            @Html.DisplayNameFor(model => model.Exception.ExceptionName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Exception.ExceptionName)
        </div>
        
        <div>
            @Html.DisplayNameFor(model => model.Exception.Description) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Exception.Description)
        </div>
        
        <div>
            @Html.DisplayNameFor(model => model.Exception.AcademicYear.AcademicYearName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Exception.AcademicYear.AcademicYearName)
        </div>
        
        <div>
            @Html.DisplayNameFor(model => model.Exception.StartDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Exception.StartDate)
        </div>
    
        <div>
            @Html.DisplayNameFor(model => model.Exception.EndDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Exception.EndDate)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Exception/Delete.js")" type="text/javascript"></script>