﻿@{
    ViewBag.Title = "EXCEPTION MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Exception" data-url="Exception/Create" data-id="CreateExceptionDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="ExceptionDT">
    <thead>
        <tr>
            <th></th>
            <th>Exception Name</th>
            <th>Description</th>
            <th>Academic Year</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Exception/Index.js")" type="text/javascript"></script>
