﻿body {
	/*background: #b6b7bc;*/
   font: 10px Lucida Grande,Lucida Sans,Arial,sans-serif;
   
}

#container
{
margin: 0px auto;
padding: 0px 20px;	
}

#content
{
	width:100%;	
	background: #ffffff;
}

	
#content h1
{
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif!important;
	font-size: 1.5em!important;
}

#content h2
{
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif!important;
	font-size: 1.1em!important;
}

#header .logo
{
    background: url('logo.png') no-repeat left top;
    float:left;
    height:90px;
    width:250px;
    margin:5px;
}

#header .menu
{
    float:right;

}

.account-menu li
{
    display:inline;
}


#navigation {
    margin-bottom:.4em;
}


/* column container */
.col-main {
	
}

/* 1 column full page settings */

.col-1 {
    padding: 0.5em;
     margin-bottom:.4em;
    
}	

#toolbar {
    padding: 0.4em 0;
    display: inline-block;
}


/* support: IE7 */
*+html #toolbar {
    display: inline;
}
    
/* Footer styles */
#footer 
{
	/*padding: 0.5em;*/
    padding: 0;
}

#footer p {
	padding:0;
	margin:0;
	font-weight:normal;
}

.validation-summary-errors { color: #cd0a0a!important; }
.validation-summary-success {  }

/* NOTIFICATION
----------------------------------------------------------*/
.ui-notification { width: 500px;  margin: 0 0 .5em 0 ;}
.ui-notification p { margin: 0; padding: 0; }

/* MENU
----------------------------------------------------------*/
.ui-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}

.ui-navigation .ui-navigation-item {
	margin: 1px 0.2em;
	padding: 0;
	list-style: none outside none;
	float: left;
	position: relative;
	white-space: nowrap;
	list-style: none outside none;
}

.ui-navigation .ui-navigation-item a {
	text-decoration: none;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}


.ui-navigation-menu li {
    list-style: none outside none;
	float: left;
	position: relative;
	top: 0px;
	margin: 1px 0.2em;
	border-bottom-width: 0px;
	padding: 0px;
	white-space: nowrap;
}
*/
/* FORM
----------------------------------------------------------*/
.ui-form
{
	
	padding: 0 0 .5em 0!important;
}

.ui-form .field-validation-error { color: #cd0a0a!important; }

.ui-form-body
{
	background:#fff!important;
	padding: .5em;
	border-top-width: 0px!important;
}

.ui-form fieldset div {
    margin-bottom: .2em;
}

.ui-form label 
{

	display: inline-block;
	width: 15em;
	font:inherit;
	color: #18517b!important;
}

.ui-form input.check-box
{
	width: auto;
	text-align:left;
	font:inherit;
}

.ui-form input.text-box
{
	width: 25em;
	font:inherit;
}
.ui-form input.date-picker
{
	width: 10em;
	font:inherit;
}

.ui-form select
{
	width: auto;
	min-width:20em;	
}
  .ui-form textarea.text-area
{
	width: 50em;
	height: 10em;
}

/* TOOLBAR
----------------------------------------------------------*/
.ui-toolbar
{
padding: .2em;

}
.ui-toolbar a, .ui-toolbar button
{

}
.ui-toolbar a:hover
{
	background:none!important;
}
/* TABLE
----------------------------------------------------------*/
.ui-grid .ui-toolbar
{

}
.ui-grid .ui-footer
{
	
}
.ui-grid 
{

}
.ui-grid-body
{
	padding: .2em;
	/*border-top-width: 0px!important;*/
	border-bottom-width: 0px!important;
}

.ui-grid table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	border: medium none;
	
}

.ui-grid tr {
	cursor: default;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	
}

.ui-grid th 
{
	text-align:left;
}

.ui-grid th, 
.ui-grid td 
{

    padding:.4em 0.4em;
	overflow: hidden;
	white-space: nowrap;
}

.ui-grid td 
{
	background:#fff!important;
}

.ui-grid td.date
{
	text-align:left;
}
.ui-grid  th{
border-bottom-width: 0px;
border-right-width: 0px;
}


.ui-grid
{
	border-top-width: 0px!important;
	border-left-width: 0px!important;
	border-bottom-width: 0px!important;
	border-right-width: 0px!important;
}


.ui-menu .ui-menu-item {display:inline-block; width: auto; }
.ui-menu .ui-menu-item a { }
.ui-menu-sub .ui-menu-item { display:block; width: auto; }

