﻿body {
	/*background: #b6b7bc;*/
	text-align: left;
	direction: ltr;
	font-family: Lucida Grande,Lucida Sans, Arial,sans-serif!important;
	
}

body, button, input, label, select, td, textarea, label {
  
	font-size:11px!important;
	/*line-height: 18px!important;*/
    color:#362b36;
  
	
}



a,
a:link,
a:visited {
	color: #222222;
	text-decoration: none;
}

a:hover {
	color: #0070a3;
	text-decoration: none;
}
#main-content
{
	border:0!important;
	padding:0!important;
	margin:0!important;
}

#main-content h1, h2, h3, h4, h5
{
	
	margin: 0px 0px 10px;
	text-transform: uppercase;
	line-height: 1em;
	font-weight: normal;
	vertical-align: top;
}
#main-content h1 {
font-size: 3em !important;
}
#main-content h2 {
font-size: 2.2em!important;
}
#main-content h3 {
font-size: 1em!important;
}

#tool-bar {
	padding:0!important;
	margin:0!important;
   
}

#header {
	padding:0!important;
	margin:0!important;
   
}

#footer 
{
	padding:0!important;
	margin:0!important;
	width:100%;
    position: relative;
	bottom:0;
	left:0;
}

#footer p {
	padding:0;
	margin:0;
	font-weight:normal;
}


.validation-summary-errors { color: #cd0a0a!important; }
.validation-summary-success {  }

/* NOTIFICATION
----------------------------------------------------------*/
.ui-notification  
{
	margin: 0.2em 0;
    line-height: 18px;
	padding: 0;
	display: block;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	text-align: left;
	overflow: visible;
	border:none;
	background:none;
}

.ui-notification p { width:100%; margin: 0; padding: 0; }


/* LOGIN
----------------------------------------------------------*/
#login {
	padding: 0;
	margin: 0;
	position: absolute;
	top:0;
	right:0;
}

/* MENU
----------------------------------------------------------*/
#navigation {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}

  
#navigation .ui-menu, 
#login .ui-menu { background:#fff; border:none;}

#navigation .ui-menu .ui-menu-item, 
#login .ui-menu .ui-menu-item {display:inline-block; width: auto; }

#navigation .ui-menu .ui-menu-item a { }

#navigation .ui-menu-sub {border: 1px solid #dddddd; background:#fff;}
#navigation .ui-menu-sub .ui-menu-item { display:block; width: auto; }

/* FORM
----------------------------------------------------------*/
.ui-form
{
	font-size:11px!important;
	color: #18517b!important;
	font-weight: normal;	
}

.ui-form legend
{
	
}
.ui-form .field-validation-error { color: #cd0a0a!important; }

.ui-form-body
{
	background:#fff!important;
}

.ui-form fieldset
{
	padding: 0 2px;
	margin: 0;
	border: 0;
}

.ui-form div
{
	line-height: 18px;
	margin: 0;
	padding: 2px 0;
}

.ui-text-box-readonly, .ui-date-picker-readonly {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0px;
	vertical-align: middle;
}

.ui-text-box, .ui-date-picker {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}

.ui-text-box input, .ui-date-picker input
{
	border: medium none;
	background: none repeat scroll 0% 0% transparent;
	color: inherit;
	display: inline-block;
	text-align: left;
	
	padding: 0;
	margin: 0;
	margin-left: 5px;
	
}

.ui-drop-down-list {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}

.ui-drop-down-list select
{
	border: medium none;
	background: none repeat scroll 0% 0% transparent;
	color: inherit;
	display: inline-block;
	text-align: left;
	padding: 0;
	margin-left: 5px;
}

.ui-text-area 
{
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
	margin-left: 5px;
}

.ui-text-area textarea
{
	border: medium none!important;
	background: none no-repeat scroll 0% 0% transparent;
	color: inherit;
	display: inline-block;
	text-align: left;
	padding: 0;
	margin-left: 5px;
}

.ui-spinner input 
{
	padding:0;
	margin: 0 22px 0 0.4em;
}

/*
.ui-form select
 {
	border: medium none;
	border: 1px solid rgb(221, 221, 221);
	background: none repeat scroll 0% 0% transparent;
	color: inherit;
	padding: 0px;
	margin: 0.2em 22px 0.2em 0.4em;
	vertical-align: middle;
}*/

.ui-form label 
{
	width: 15em;
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
}

.ui-form input.check-box
{
	width: auto;
	text-align:left;
}

.ui-form input.text-box
{
	width: 25em;
}

.ui-form input.name
{
	width: 15em!important;
}

.ui-form input.date-picker
{
	width: 15em;
}

.ui-form input.date-time-picker
{
	width: 18em;
}
.ui-form select
{
	width: auto;
	min-width:20em;	
}
.ui-form textarea.text-area
{
	width: 100em;
	height: 12em;
}

  .ui-form input.interval
{
	width: 20px;
	margin-top:0;
	margin-bottom:0;
}

  .ui-form input.time-picker
{
	width: 5em;
}

  .ui-form input.spinner
{
}

/* TOOLBAR
----------------------------------------------------------*/
.ui-tool-bar
{
	padding:0;
	margin:0;
	padding: 2px;

}
.ui-toolbar a, .ui-toolbar button
{

}
.ui-toolbar a:hover
{
	background:none!important;
}
/* TABLE
----------------------------------------------------------*/
.ui-grid
{
font-size:11px!important;
	color: #18517b!important;
	font-weight: normal;	
}
.ui-grid table {
  width: 100%;
}

.ui-grid table tr {
 
}

.ui-grid table th,
.ui-grid table td 
{
	
	text-align: left;
	padding: 2px;
	margin: 0;	
	border: 1px solid #dddddd;
}

.ui-grid table th {
  font-weight: bold;
}

.ui-grid table thead th {
  padding: 2px;
}

.ui-grid table caption + thead tr:first-child th,
.ui-grid table thead:first-child tr:first-child th{}

.ui-grid table caption + thead tr:first-child td,
.ui-grid table colgroup + thead tr:first-child th,
.ui-grid table colgroup + thead tr:first-child td,
.ui-grid table thead:first-child tr:first-child td {

}

.ui-grid table tbody + tbody {
	border: 2px solid #dddddd;
}

.ui-grid table .ui-grid table {
  background-color: #ffffff;
}

.ui-grid table.table-condensed th,
.ui-grid table.table-condensed td {
  padding: 2px;
}

.ui-grid table.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
}

.ui-grid table.table-bordered th,
.ui-grid table.table-bordered td {
  border-left: 1px solid #dddddd;
}

.ui-grid table.table-striped tbody > tr:nth-child(odd) > td,
.ui-grid table.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.ui-grid table.table-hover tbody tr:hover > td,
.ui-grid table.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}


.ui-grid table.table-hover tbody tr:hover > td,
.ui-grid table.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}
/*
.ui-grid table .ui-tool-bar
{

}
.ui-grid table .ui-grid-footer
{
	
}
.ui-grid table 
{
	
}
.ui-grid-body
{
	padding: 0;
	border-top-width: 0px!important;
	border-bottom-width: 0px!important;
}

.ui-grid table table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	border: medium none;
	
}

.ui-grid table tr {
	cursor: default;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	
}

.ui-grid table th 
{
	text-align:left;
}

.ui-grid table th, 
.ui-grid table td 
{

    padding:.5em;
}

.ui-grid table td 
{
	background:#fff!important;
}

.ui-grid table td.date
{
	text-align:left;
}
.ui-grid table  th{
border-bottom-width: 0px;
border-right-width: 0px;
}


.ui-grid
{
	border-top-width: 0px!important;
	border-left-width: 0px!important;
	border-bottom-width: 0px!important;
	border-right-width: 0px!important;
}
*/

.ui-grid .pagination { }
.ui-grid .pagination ul { margin-left: 0; list-style: none; }
.ui-grid .pagination li {  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1; }




.header { 
	text-align: left;
	padding:.2em!important;
	position: relative;
	overflow: hidden;
}
.footer {
	padding:.2em!important;
	font-size: 0.85em;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-panel 
{
	padding: 0!important;
	
}

.ui-tabs .ui-tabs-panel .ui-tool-bar
{

}


  .ui-layout-center
, .ui-layout-west
, .ui-layout-north
{
	padding: .5em!important;
}


/**.ui-layout-west .ui-widget-header {
		border:			1px solid #bbbbbbb!important;
		border-width:	0 0 1px!important;  
		padding: 0.4em!important;
	}
	
	.ui-layout-north, ui-layout-south
	{
		padding: 0.4em!important;
	}
	.ui-layout-west .ui-widget-content {
		padding: 0.4em
	}
	.ui-layout-west h4 {
		font-size:		0.9em;
		font-weight:	normal;
	}**/
