﻿@model AteneoHighschool.Data.StudentVM

@using (@Html.BeginForm("DeleteJson", "Student", FormMethod.Post, new { @id = "DeleteStudentForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Student.StudentId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            @Html.DisplayNameFor(model => model.Student.StudentNumber) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Student.StudentNumber)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Student.Person.FullName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Student.Person.FullName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Student.Person.Gender.GenderName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Student.Person.Gender.GenderName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Student.Person.Age) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Student.Person.Age)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Student/Delete.js")" type="text/javascript"></script>