﻿@model AteneoHighschool.Data.StudentVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "Student", FormMethod.Post, new { @id = "EditStudentForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.Student.StudentId)
         @Html.HiddenFor(model => model.PersonVM.Person.PersonId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Student.StudentNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Student.StudentNumber)
            @Html.ValidationMessageFor(model => model.Student.StudentNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Student.Person)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Student.PersonId, Model.PersonVM.PersonList, "")
            @Html.ValidationMessageFor(model => model.Student.PersonId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Student/Edit.js")" type="text/javascript"></script>
