﻿@{
    ViewBag.Title = "STUDENTS";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Student" data-url="Student/Create" data-id="CreateStudentDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="StudentDT">
    <thead>
        <tr>
            <th></th>
            <th>Student Number</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Student/Index.js")" type="text/javascript"></script>
