﻿@model IList<AteneoHighschool.Admin.Models.SubjectCoordinatorViewModel>
@{
    ViewBag.Title = "Academic Principal Page";
}

<h2>@ViewBag.Title</h2>

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
<div id="tabs">
    <ul>
        <li><a href="#content-tabs-Subject-Coordinators">Subject Coordinators</a></li>
        <li><a href="#content-tabs-Level-Leaders">Level Leaders</a></li>
    </ul>
    <div id="content-tabs-Subject-Coordinators">
        <div class="ui-widget-header ui-tool-bar">
        </div>
        <div>
            <div class="ui-widget ui-grid">
                @if (Model.Any())
                {
                    <div class="ui-grid-body">
                        <table>   
                            <thead>
                                <tr class="ui-state-default">
                                    <th style="width:25%; ">Coordinator Name</th>   
                                    <th style="width:30%; ">Subject</th>
                                    <th style="width:5%; ">Average No. of Meetings</th>
                                    <th style="width:5%; ">Average No. of Meetings Done</th>
                                    <th style="width:5%; ">Average No. of Meetings Remaining</th>
                                    <th style="width:5%; ">Average No. of Topics Remaining</th>
                                    <th style="width:5%; ">Average Buffer Meetings</th>
                                    <th style="width:5%; ">Average Mean Score</th>
                                </tr>
                            </thead>
                            <tbody>   
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.CoordinatorName)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.Subject)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.AverageMeetings)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.AverageMeetingsDone)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.AverageMeetingsRemain)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.AverageTopicsRemain)</td>
                                        @if (item.AverageBufferMeetings < 1)
                                        {
                                            <td class="ui-widget-content" style="color:Red">@Html.DisplayFor(model => item.AverageBufferMeetings)</td>
                                        }
                                        else
                                        {
                                            <td class="ui-widget-content" style="color:Blue">@Html.DisplayFor(model => item.AverageBufferMeetings)</td>
                                        }
                                        @*<td class="ui-widget-content date">N/A</td>*@
                                        <td class="ui-widget-content date"><a href="#">N/A</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                { 
                    <div class="ui-widget-content ui-corner-bottom ui-helper-clearfix" style="padding: 0.5em;">
                        No results found
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="content-tabs-Level-Leaders">
        <div class="ui-widget-header ui-tool-bar">
        </div>
        <div>
            @{
                Html.RenderAction("LevelLeaders", "Employee");
            }
        </div>
    </div>
</div>