﻿@model AteneoHighschool.Data.EmployeeVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Employee", FormMethod.Post, new { @id = "CreateEmployeeForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmployeeNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmployeeNumber)
            @Html.ValidationMessageFor(model => model.Employee.EmployeeNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmployeeType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Employee.EmployeeTypeId, Model.EmployeeTypeVM.EmployeeTypeList, "")
            @Html.ValidationMessageFor(model => model.Employee.EmployeeTypeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Person)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Employee.PersonId, Model.PersonVM.PersonList, "")
            @Html.ValidationMessageFor(model => model.Employee.PersonId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Employee/Create.js")" type="text/javascript"></script>

