﻿@model AteneoHighschool.Data.EmployeeVM

@using (@Html.BeginForm("DeleteJson", "Employee", FormMethod.Post, new { @id = "DeleteEmployeeForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Employee.EmployeeId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            @Html.DisplayNameFor(model => model.Employee.EmployeeNumber) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Employee.EmployeeNumber)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Employee.EmployeeType.EmployeeTypeName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Employee.EmployeeType.EmployeeTypeName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Employee.Person.FullName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Employee.Person.FullName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Employee.Person.Gender.GenderName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Employee.Person.Gender.GenderName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Employee.Person.Age) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Employee.Person.Age)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Employee/Delete.js")" type="text/javascript"></script>