﻿@model AteneoHighschool.Data.EmployeeVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "Employee", FormMethod.Post, new { @id = "EditEmployeeForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.Employee.EmployeeId)
         @Html.HiddenFor(model => model.PersonVM.Person.PersonId)
         @Html.HiddenFor(model => model.EmployeeTypeVM.EmployeeType.EmployeeTypeId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmployeeNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.EmployeeNumber)
            @Html.ValidationMessageFor(model => model.Employee.EmployeeNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.EmployeeType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Employee.EmployeeTypeId, Model.EmployeeTypeVM.EmployeeTypeList, "")
            @Html.ValidationMessageFor(model => model.Employee.EmployeeTypeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Person)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Employee.PersonId, Model.PersonVM.PersonList, "")
            @Html.ValidationMessageFor(model => model.Employee.PersonId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Employee/Edit.js")" type="text/javascript"></script>
