﻿@{
    ViewBag.Title = "EMPLOYEE";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Employee" data-url="Employee/Create" data-id="CreateEmployeeDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="EmployeeDT">
    <thead>
        <tr>
            <th></th>
            <th>Employee Number</th>
            <th>Type</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Employee/Index.js")" type="text/javascript"></script>
