﻿@model IList<AteneoHighschool.Admin.Models.ClassViewModel>
@{
    ViewBag.Title = "Subject Teacher";
}
<h2>@ViewBag.Title</h2>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
<div id="tabs">
    <ul>
        <li><a href="#content-tabs-Track-Learning-Items">Track Learning Items</a></li>
    </ul>
    <div id="content-tabs-Track-Learning-Items">
        <div class="ui-widget-header ui-tool-bar">
        </div>
        <div>
            <div class="ui-widget ui-grid">
                @if (Model.Any())
                {
                    <div class="ui-grid-body">
                        <table>   
                            <thead>
                                <tr class="ui-state-default">   
                                    <th style="width:60%; ">Class</th>
                                    <th style="width:5%; ">No. of Students</th>
                                    <th style="width:5%; ">No. of Meetings</th>
                                    <th style="width:5%; ">No. of Meetings Done</th>
                                    <th style="width:5%; ">No. of Meetings Remaining</th>
                                    <th style="width:5%; ">No. of Topics Remaining</th>
                                    <th style="width:5%; ">Buffer Meetings</th>
                                    @*<th style="width:5%; ">Compression</th>*@
                                    <th style="width:5%; ">Mean Score</th>
                                </tr>
                            </thead>
                            <tbody>   
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.ClassName)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.Students)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.Meetings)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.MeetingsDone)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.MeetingsRemain)</td>
                                        <td class="ui-widget-content">@Html.DisplayFor(model => item.TopicsRemain)</td>
                                        @if (item.BufferMeetings < 1)
                                        {
                                            <td class="ui-widget-content" style="color:Red">@Html.DisplayFor(model => item.BufferMeetings)</td>
                                        }
                                        else
                                        {
                                            <td class="ui-widget-content" style="color:Blue">@Html.DisplayFor(model => item.BufferMeetings)</td>
                                        }
                                        @*<td class="ui-widget-content date">N/A</td>*@
                                        <td class="ui-widget-content date"><a href="#">N/A</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                { 
                    <div class="ui-widget-content ui-corner-bottom ui-helper-clearfix" style="padding: 0.5em;">
                        No results found
                    </div>
                }
            </div>
        </div>
    </div>
</div>