﻿@model AteneoHighschool.Admin.Models.ClassViewModel
@{
    ViewBag.Title = Model.CoordinatorType;
    Layout = "~/Views/Shared/_OneColumnLayout.cshtml";
}
<div>

</div>
<div class="tabs">
    <ul>
        <li><a href="#content-tabs-Track-Learning-Items">Track Learning Items</a></li>
        <li><a href="#content-tabs-Evaluation-of-Class">Evaluation of Class</a></li>
        <li><a href="#content-tabs-Lesson-Plan">Lesson Plan</a></li>
    </ul>
    @*Track Learning Items*@
    <div id="content-tabs-Track-Learning-Items">
        <div class="ui-widget-header ui-tool-bar">
        </div>
        <div>
        @{
            Html.RenderAction("PartialList", "SubjectCoordinator", new { personId = Model.PersonId});
        }  
        </div>
    </div>
    @*Evaluation of Class*@
    <div id="content-tabs-Evaluation-of-Class">
        <div class="ui-widget-header ui-tool-bar">
        </div>
        <div style="text-align: center">
        @{
            Html.RenderAction("GetSubjectTeacherOverallGraph", "SubjectCoordinator", new { personId = Model.PersonId, subject = ViewBag.Subject });
         }
        </div>
    </div>
    @*Lesson Plan*@
    <div id="content-tabs-Lesson-Plan">
        <div class="ui-widget-header ui-tool-bar">
        </div>
    </div>
</div>
