﻿@model AteneoHighschool.Data.EmployeeTypeVM

@{
    ViewBag.Title = "Create";
}

@using (@Html.BeginForm("CreateJson", "EmployeeType", FormMethod.Post, new { @id = "CreateEmployeeTypeForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeType.EmployeeTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeType.EmployeeTypeName)
            @Html.ValidationMessageFor(model => model.EmployeeType.EmployeeTypeName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/EmployeeType/Create.js")" type="text/javascript"></script>
