﻿@model AteneoHighschool.Data.EmployeeTypeVM

@using (@Html.BeginForm("DeleteJson", "EmployeeType", FormMethod.Post, new {@id = "DeleteEmployeeTypeForm"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EmployeeType.EmployeeTypeId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            @Html.DisplayNameFor(model => model.EmployeeType.EmployeeTypeName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.EmployeeType.EmployeeTypeName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/EmployeeType/Delete.js")" type="text/javascript"></script>