﻿@model AteneoHighschool.Data.EmployeeTypeVM

@{
    ViewBag.Title = "Edit";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("EditJson", "EmployeeType", FormMethod.Post, new { @id = "EditEmployeeTypeForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.EmployeeType.EmployeeTypeId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeType.EmployeeTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeType.EmployeeTypeName)
            @Html.ValidationMessageFor(model => model.EmployeeType.EmployeeTypeName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/EmployeeType/Edit.js")" type="text/javascript"></script>
