﻿@{
    ViewBag.Title = "EMPLOYEE TYPE MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Employee Type" data-url="EmployeeType/Create" data-id="CreateEmployeeTypeDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="EmployeeTypeDT">
    <thead>
        <tr>
            <th></th>
            <th>Employee Type Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/EmployeeType/Index.js")" type="text/javascript"></script>