﻿@model AteneoHighschool.Data.AcademicYearVM
<div class="ui-widget ui-widget-content ui-form-body">
    <fieldset>
        @Html.HiddenFor(model => model.AcademicYear.AcademicYearId)
        <div>
            <label>Academic Year: </label>
            @Html.DisplayFor(model => model.AcademicYear.AcademicYearName)
        </div>
        <div>
            <label>Description: </label>
            @Html.DisplayFor(model => model.AcademicYear.Description)
        </div>
        <div>
            <label>Start Date: </label>
            @Html.DisplayFor(model => model.AcademicYear.StartDate) 
        </div>
        <div>
            <label>End Date: </label>
            @Html.DisplayFor(model => model.AcademicYear.EndDate)
        </div>
    </fieldset>
</div>