﻿@model AteneoHighschool.Data.AcademicYearVM

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("CreateJson", "AcademicYear", FormMethod.Post, new { @id = "CreateAcademicYearForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.AcademicYear.AcademicYearName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AcademicYear.AcademicYearName)
            @Html.ValidationMessageFor(model => model.AcademicYear.AcademicYearName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AcademicYear.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AcademicYear.Description, "TextArea")
            @Html.ValidationMessageFor(model => model.AcademicYear.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AcademicYear.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AcademicYear.StartDate)
            @Html.ValidationMessageFor(model => model.AcademicYear.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AcademicYear.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AcademicYear.EndDate)
            @Html.ValidationMessageFor(model => model.AcademicYear.EndDate)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/AcademicYear/Create.js")" type="text/javascript"></script>
