﻿@model AteneoHighschool.Data.AcademicYearVM

@using (@Html.BeginForm("DeleteJson", "AcademicYear", FormMethod.Post, new {@id = "DeleteAcademicYearForm"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AcademicYear.AcademicYearId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            @Html.DisplayNameFor(model => model.AcademicYear.AcademicYearName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.AcademicYear.AcademicYearName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.AcademicYear.Description) :
        </div>
        <div>
            @Html.DisplayFor(model => model.AcademicYear.Description)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.AcademicYear.StartDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.AcademicYear.StartDate)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.AcademicYear.EndDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.AcademicYear.EndDate)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/AcademicYear/Delete.js")" type="text/javascript"></script>