﻿@model AteneoHighschool.Data.AcademicYearVM

@{
    ViewBag.Title = string.Format("Academic Year: {0}", Model.AcademicYear.AcademicYearName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" language="javascript">
    $(function () {
        $(".button-create").button({
            text: true,
            icons: {
                primary: "ui-icon-plusthick"
            }
        });
    });
</script>
<h2>@ViewBag.Title</h2>
<div>
    <div class="ui-widget-header ui-tool-bar" style="font-size: 18px">Details</div>
    <div id="content-tabs-framework-detail">
        @{
            <div class="ui-widget-header ui-tool-bar">
                <a href="@Url.Action("Index", "AcademicYear")" title="Click this Icon to View Academic Years" class="uiButton">Back</a>
            </div>
            <div class="ui-widget-header ui-tool-bar">
                @Html.ActionLink("Generate Syllabus", "GenerateSyllabus", "AcademicYear", new { academicYearId = Model.AcademicYear.AcademicYearId }, new { @class = "button-create" })
            </div>
            <div class="ui-form">
                @Html.Partial("_Detail", Model)
            </div>
        }
    </div>
</div>