﻿@{
    ViewBag.Title = "ACADEMIC YEAR MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Academic Year" data-url="AcademicYear/Create" data-id="CreateAcademicYearDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="AcademicYearDT">
    <thead>
        <tr>
            <th></th>
            <th>Academic Year Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/AcademicYear/Index.js")" type="text/javascript"></script>