﻿@model AteneoHighschool.Data.RecurrenceVM

@using (@Html.BeginForm("DeleteJson", "Recurrence", FormMethod.Post, new { @id = "DeleteRecurrenceForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Recurrence.RecurrenceId)
         
    <h3>Are you sure you want to delete this?</h3>
      <fieldset >
        <div>
            @Html.DisplayFor(model => model.Recurrence.Schedule.ScheduleName)
        </div>
        <div>
            Time Duration
        </div>
        <div>
            @Html.DisplayFor(model => model.Recurrence.StartTime) - @Html.DisplayFor(model => model.Recurrence.EndTime)
        </div>
      </fieldset>
}
<script src="@Url.Content("~/Content/Js/Recurrence/Delete.js")" type="text/javascript"></script>