﻿@model AteneoHighschool.Data.RecurrenceVM

@{
    ViewBag.Title = "Edit";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("EditJson", "Recurrence", FormMethod.Post, new { @id = "EditRecurrenceForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Recurrence.CurriculumClassId)
    @Html.HiddenFor(model => model.Recurrence.StartDate)
    @Html.HiddenFor(model => model.Recurrence.EndDate)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Recurrence.Schedule)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Recurrence.ScheduleId, Model.ScheduleVM.ScheduleList, "")
            @Html.ValidationMessageFor(model => model.Recurrence.ScheduleId)
        </div>
        
        <div class="editor-label">
            Time Duration
        </div>
        <div>
            @Html.EditorFor(model => model.Recurrence.StartTime, "Time") - @Html.EditorFor(model => model.Recurrence.EndTime, "Time")
            @Html.ValidationMessageFor(model => model.Recurrence.StartTime)
            @Html.ValidationMessageFor(model => model.Recurrence.EndTime)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Recurrence/Edit.js")" type="text/javascript"></script>