﻿@model AteneoHighschool.Data.CurriculumClass
@{
    ViewBag.Title = "RECURRENCE MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>@Model.CurriculumClassName</div>
<div>
    @Html.HiddenFor(model => model.CurriculumClassId)
    <span data-dialog-title="Create Recurrence" data-url="Recurrence/Create/@Model.CurriculumClassId" data-id="CreateRecurrenceDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="RecurrenceDT">
    <thead>
        <tr>
            <th></th>
            <th>Day of the Week</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Recurrence/Index.js")" type="text/javascript"></script>