﻿@using AteneoHighschool.Data.Enum

<tr>
    <td>
        @foreach (HatsType item in Enum.GetValues(typeof(HatsType)))
        {
            <input type="radio" id="@ViewData.TemplateInfo.GetFullHtmlFieldId(item.ToString())" name="@(ViewData.TemplateInfo.GetFullHtmlFieldName(""))" value="@item" @Html.Raw((Model & item) == item ? "selected=\"selected\"" : "") />
            <label for="@ViewData.TemplateInfo.GetFullHtmlFieldId(item.ToString())">@item</label><br/>
        }
    </td>
</tr>