﻿@model AteneoHighschool.Data.FileVM
@{
    ViewBag.Title = "Edit";
}
@using (@Html.BeginForm("EditJson", "File", FormMethod.Post, new { @id = "EditFileForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.File.FileId)

    <fieldset class="ui-form">
        <div class="editor-label">
            File Name: 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.File.FileName)
            @Html.ValidationMessageFor(model => model.File.FileName)
        </div>

        <div class="editor-label">
            Description: 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.File.Description)
            @Html.ValidationMessageFor(model => model.File.Description)
        </div>

        <div class="editor-label">
            Status: 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.File.Status)
            @Html.ValidationMessageFor(model => model.File.Status)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/File/Edit.js")" type="text/javascript"></script>
