﻿@model IEnumerable<AteneoHighschool.Data.File>
@{
    ViewBag.Title = "RESOURCE LIBRARY MANAGEMENT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/default/jquery-ui-1.10.3.custom.css")" media="all" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")"></script>
<script src="@Url.Content("~/Content/Js/Common/Dialog.js")" type="text/javascript"></script>

<div id="tabs">
    <ul>
        <li><a href="#content-tabs-class-files-list">Files</a></li>
    </ul>
    <div id="content-tabs-class-files-list">
        <div class="ui-widget-header ui-tool-bar">
            @Html.ActionLink("APPROVE", "UpdateFileStatus", "File", new { @class = "button-upload", id = "btnapprove" })
            &nbsp;&nbsp;&nbsp;
            @Html.ActionLink("DISAPPROVE", "UpdateFileStatus", "File", new { @class = "button-cancel", id = "btndisapprove" })
        </div>
        <div class="ui-grid">
            @if (Model.Any())
            {
                <div id="checkboxes" class="ui-grid-body">
                    <table class="table-striped table-hover" id="FileDT">
                        <thead>
                            <tr class="ui-state-default">
                                <th style="width:5%;text-align: center;">
                                </th>
                                <th style="width:20%;">
                                    File Name
                                </th>
                                <th style="width:20%;">
                                    Mime Type
                                </th>
                                <th style="width:30%;">
                                    Upload Date
                                </th>
                                <th style="width:20%;">
                                    Status
                                </th>
                                <th style="width:5%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align: center">
                                        <input type="checkbox" name ="chkfileId" value="@item.FileId"/>
                                    </td>
                                    <td>
                                        @item.FileName
                                    </td>
                                    <td>
                                        @item.MimeType
                                    </td>
                                    <td>
                                        @item.UploadDate
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td>
                                        <a class="uiButton" href="@Url.Action("DownloadAttachment", "File", new { fileId = item.FileId })">Download</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            { 
                <div class="ui-widget-content ui-corner-bottom ui-helper-clearfix" style="padding: 0.5em;">
                    No results found
                </div>
            }
        </div>  
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        addCheck();

        $("#btnapprove").click(function (event) {
            event.preventDefault();

            $("#dialog-approve-file")
                .dialog({
                    autoOpen: false,
                    modal: true,
                    width: 250,
                    height: 150,
                    buttons: {
                        "Approve": function() {
                            $(this).dialog("close");

                            var fileIds = $('input[name = chkfileId]:checked').map(function() {
                                return $(this).val();
                            }).get();

                            if (fileIds.length > 0) {
                                UpdateFileStatus(fileIds, "APPROVED");
                            } else {
                                alert("No record(s) selected!");
                            }
                        },
                        "Cancel": function() {
                            $(this).dialog("close");
                        }
                    }
                });

            $("#dialog-approve-file").dialog("open");
        });

        $("#btndisapprove").click(function (event) {
            event.preventDefault();
            $("#dialog-approve-file")
                .dialog({
                    autoOpen: false,
                    modal: true,
                    width: 250,
                    height: 150,
                    buttons: {
                        "Disapprove": function() {
                            $(this).dialog("close");

                            var fileIds = $('input[name = chkfileId]:checked').map(function() {
                                return $(this).val();
                            }).get();

                            if (fileIds.length > 0) {
                                UpdateFileStatus(fileIds, "DISAPPROVED");
                            } else {
                                alert("No record(s) selected!");
                            }
                        },
                        "Cancel": function() {
                            $(this).dialog("close");
                        }
                    }
                });
            $("#dialog-approve-file").dialog("open");
        });
    }); //end of document.ready

    $(function () {
        $("#tabs").tabs();
    });
    $(".button-upload").button({
        icons: {
            primary: "ui-icon-upload"
        }
    });
    $(".button-cancel").button({
        icons: {
            primary: "ui-icon-cancel"
        }
    });

    $(".uiButton").button({
        icons: {
            primary: "ui-icon-disk"
        }
    });

    function UpdateFileStatus(fileId, status) {
        $.ajax({
            url: '@Url.Action("UpdateFileStatus", "File")',
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify({ fileId: fileId, status: status }),
            success: function () {
                alert(fileId.length + " record(s) updated!");
                location.reload();
            },
            error: function () {
                alert("Javascript Execution Terminated.");
            }
        });
    }

    function addCheck() {
        var $chk = $('<input/>').attr({ type: 'checkbox', name: 'chkAll', id: 'chkAll', title: "Select All" });
        $('th:first').append($chk);
        $('#chkAll').click(function () {
            $(':checkbox').prop('checked', $(this).is(':checked') ? true : false);
        });
        $(':checkbox').not('#chkAll').click(function () {
            testCheck();
        });
    }

    function testCheck() {
        if ($(':checkbox').not('#chkAll').filter(':not(:checked)').length === 0) {
            $('#chkAll').prop('checked', true);
        } else {
            $('#chkAll').prop('checked', false);
        }
    }
</script>

<style>
    .ui-grid-body
    {
        padding: .2em;
        border-bottom-width: 0!important;
    }
</style>

<div id="dialog-approve-file" class="ui-helper-hidden"
    title="Approve File">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        The selected item(s) will be approve for downloading. Are you sure?
    </p>
</div>
<div id="dialog-disapprove-file" class="ui-helper-hidden"
    title="Disapprove File">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        The selected item(s) will be disapprove for downloading. Are you sure?
    </p>
</div>
