﻿@model AteneoHighschool.Data.GroupMemberVM
@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "GroupMember", FormMethod.Post, new { @id = "CreateGroupMemberForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupMember.Group)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GroupMember.GroupId, Model.GroupVM.GroupList, "")
            @Html.ValidationMessageFor(model => model.GroupMember.GroupId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupMember.Student)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GroupMember.StudentId, Model.StudentVM.StudentList, "")
            @Html.ValidationMessageFor(model => model.GroupMember.StudentId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/GroupMember/Create.js")" type="text/javascript"></script>

