﻿@model AteneoHighschool.Data.GroupMemberVM

@using (@Html.BeginForm("DeleteJson", "GroupMember", FormMethod.Post, new { @id = "DeleteGroupMemberForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.GroupMember.GroupMemberId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Group Name :
        </div>
        <div>
            @Html.DisplayFor(model => model.GroupMember.Group.GroupName)
        </div>
        <div>
            Student :
        </div>
        <div>
            @Html.DisplayFor(model => model.GroupMember.Student.Person.FullName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/GroupMember/Delete.js")" type="text/javascript"></script>