﻿@model AteneoHighschool.Data.GroupMemberVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "GroupMember", FormMethod.Post, new { @id = "EditGroupMemberForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupMember.Group)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GroupMember.GroupId, Model.GroupVM.GroupList, "")
            @Html.ValidationMessageFor(model => model.GroupMember.Group)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupMember.Student)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GroupMember.StudentId, Model.StudentVM.StudentList, "")
            @Html.ValidationMessageFor(model => model.GroupMember.StudentId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/GroupMember/Edit.js")" type="text/javascript"></script>
