﻿@{
    ViewBag.Title = "GROUP MEMBER MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Group Member" data-url="GroupMember/Create" data-id="CreateGroupMemberDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="GroupMemberDT">
    <thead>
        <tr>
            <th></th>
            <th>Group Name</th>
            <th>Student Name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/GroupMember/Index.js")" type="text/javascript"></script>
