﻿@model AteneoHighschool.Data.ParentNotificationSlip

@{
    ViewBag.Title = "Parent Notification Slip";
}

<h3>
    @ViewBag.Title
</h3>
<style>
    label, strong
    {
        color: White;
    }
    .textarea
    {
        width: 300px;
        height: 100px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $("#pns-menu").removeClass("active");
        $("#all-menu").removeClass("active");
        $("#create-menu").addClass("active");
        $("#view-appointment-schedule").removeClass("active");
        $("#view-parent-appointment-schedule").removeClass("active");
        $("#email-support-menu").removeClass("active");

        $('#Item_GroupName').autocomplete(
        {
            source: '@Url.Action("GetSections", "Communication")'
        });

        $('#Curriculum_CurriculumName').autocomplete(
        {
            select: function(event, ui) {
                $('#CurriculumName').val(ui.item.value);
            },

            source: '@Url.Action("GetCurriculums", "Communication")',
            search: function() { $('#loadingmessage2').show(); },
            response: function() { $('#loadingmessage2').hide(); }
        });

        $('#Student_Person_FullName').autocomplete(
        {
            search: function() { $('#loadingmessage').show(); },
            select: function(event, ui) {
                $('#ChildName').val(ui.item.value);
                $("#CurriculumClass_CurriculumClassName").val("");
                GetStudentId();
                PopulateSection();
                if ($('#CurriculumClass_CurriculumClassName').val() == "" || $('#CurriculumClass_CurriculumClassName').val() == null) {
                    alert("The child doesn't belong to any sections!");
                }
            },
            response: function() { $('#loadingmessage').hide(); },
            source: '@Url.Action("GetStudents", "Communication")'
        });

        $('.btnSubmit').click(function() {
            if ($('#ChildName').val() == null || $('#ChildName').val() != $("#Student_Person_FullName").val().trim()
                || $('#CurriculumName').val() == null || $('#CurriculumName').val() != $("#Curriculum_CurriculumName").val().trim()) {
                alert("Invalid Child Name or Subject Name!");
            } else {
                $(this).parents('form').submit();
            }
        });
    }); //end document.ready

    function PopulateSection() {
        var childName = $('#ChildName').val();
        $.ajax({
            url: "Communication/GetChildSection",
            type: "post",
            async: false,
            data: { ChildName: childName },
            success: function (data) {
                if (data) {
                    var groupName = data;
                    $("#CurriculumClass_CurriculumClassName").val(groupName);
                }
            },
            error: function () {
                alert("error");
                $("#CurriculumClass_CurriculumClassName").val("");
            }
        });
    }

    function GetStudentId() {
        var childName = $('#ChildName').val();
        $.ajax({
            url: "Communication/GetStudentId",
            type: "post",
            async: false,
            data: { ChildName: childName },
            success: function (data) {
                if (data) {
                    var studentId = data;
                    $("#StudentId").val(studentId);
                }
            },
            error: function () {
                alert("error");
                $("#StudentId").val("");
            }
        });
    }
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("CreateNotification", "Communication", FormMethod.Post))
{
    @Html.HiddenFor(model => model.SenderId)
    @Html.HiddenFor(model => model.StudentId)
    <div>
        <fieldset>
            <div class="editor-label">
                <label>
                    Name of Child: 
                </label>
            </div>
            <div class="editor-field">
                <img id='loadingmessage' style='display:none' src="../../Content/images/progress.gif"/>
                @Html.TextBoxFor(model => model.Student.Person.FullName)
                @Html.ValidationMessageFor(model => model.Student.Person.FullName)
            </div>
            <div class="editor-label">
                <label>
                    Grade and Section: 
                </label>
            </div>
            <div class="editor-field">
                <input type="hidden" value="name" id="ChildName"/>
                @Html.TextBoxFor(model => model.CurriculumClass.CurriculumClassName, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CurriculumClass.CurriculumClassName)
            </div>
            <div class="editor-label">
                <label>
                    Subject: </label>
            </div>
            <div class="editor-field">
                <input type="hidden" value="name" id="CurriculumName" />
                <img id='loadingmessage2' style='display:none' src="../../Content/images/progress.gif"/>
                @Html.TextBoxFor(model => model.Curriculum.CurriculumName)
                @Html.ValidationMessageFor(model => model.Curriculum.CurriculumName)
            </div>
            <div class="editor-label">
                <label>
                    Remarks
                </label>
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.MessageContent, new { @class = "textarea" })
                @Html.ValidationMessageFor(model => model.MessageContent)
            </div>
            <p>
                <input type="button" value="Submit" class="btnSubmit" />
            </p>
        </fieldset>
    </div>
}