﻿@model AteneoHighschool.Models.EmailSupport
@{
    ViewBag.Title = "Email Ateneo ePost Support Team";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#pns-menu").removeClass("active");
        $("#all-menu").removeClass("active");
        $("#create-menu").removeClass("active");
        $("#view-appointment-schedule").removeClass("active");
        $("#view-parent-appointment-schedule").removeClass("active");
        $("#email-support-menu").addClass("active");
    }) 
</script>
<h3>
    @ViewBag.Title
</h3>
<style>
    label, strong
    {
        color: White;
    }
    .textarea
    {
        width: 600px;
        height: 100px;
    }
    .wide
    {
         width: 500px;
         height:250px;
    }
</style>
@using (Html.BeginForm("EmailSupport", "Communication",FormMethod.Post))
{
    <div>
        <fieldset>
            <div class="editor-label">
            <label>Subject</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
            <div class="editor-label">
              
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Body, new { @class = "wide" })
                @Html.ValidationMessageFor(model => model.Body)
            </div>
            <p>
                <input type="submit" value="Send" class="btnSubmit"/>
            </p>
        </fieldset>
    </div>
}
