﻿@model IList<AteneoHighschool.Data.ParentNotificationSlip>
<script type="text/javascript" language="javascript">
    $(function () {
        $("#pns-menu").addClass("active");
        $("#all-menu").removeClass("active");
        $("#create-menu").removeClass("active");
        $("#view-appointment-schedule").removeClass("active");
        $("#view-parent-appointment-schedule").removeClass("active");
        $("#email-support-menu").removeClass("active");

        $('.communication-item').click(function () {
            var me = $(this);
            if ($(this).parents('tr').hasClass("ui-widget-content")) {
                var all = $('.AllUnRead').val();
                var allpns = $('.AllPNSUnRead').val();
                var totalall = all - 1;
                var totalpns = allpns - 1;
                $('.AllUnRead').val(totalall);
                $('.AllPNSUnRead').val(totalpns);
                if (totalall <= 0) {
                    $('#CountAll').removeClass("badge pull-right");
                    $('#CountAll').html(null);
                }
                else {
                    $('#CountAll').html(totalall);
                }

                if (totalpns <= 0) {
                    $('#CountPNS').removeClass("badge pull-right");
                    $('#CountPNS').html(null);
                }
                else {
                    $('#CountPNS').html(totalpns);
                }
                $(this).parents('tr').removeClass("ui-widget-content");
            }
            $.get(me.attr('data-href'), { communicationId: me.attr('data-communication-id') }, function (result) {
                $('#communicationdetail-body').attr("class", "panel panel-default");
                $('#communicationdetail-body').html(result);
            });
        });
    });
</script>
<div class="ui-grid">
    @if (Model.Any())
    {
        <div class="ui-grid-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            From
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="ui-widget-content">
                        <td>
                            <a class="communication-item" href="#" data-communication-id="@item.ParentNotificationSlipId" data-href="@Url.Action("CommunicationDetail", "Communication", new { id = item.ParentNotificationSlipId })" title="@item.ReadDate">
                            @Html.DisplayFor(model => item.SentDate)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.SenderName)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    { 
        <div class="ui-widget-content ui-corner-bottom ui-helper-clearfix" style="padding: 0.5em;">
            There are no messages of this type.
        </div>
    }
</div>
