﻿@model AteneoHighschool.Data.ParentNotificationSlip
<div class="panelbody" style=" width: 390px; overflow: auto">
    <p class="pull-right">
        Date: <em>@Html.DisplayFor(model => model.SentDate)</em>
    </p>
    <p class="text-muted">
        From: <strong>@Html.DisplayFor(model => model.SenderName)</strong><br />
        To: <strong>@Html.DisplayFor(model => model.Parent.Person.FullName)</strong></p>
    <hr style=" height: 0.5em; border-bottom: 0 "/>
    <p>
        Section: @Html.DisplayFor(model => model.CurriculumClass.CurriculumClassName)
    </p>
    <p>
        Subject: @Html.DisplayFor(model => model.Curriculum.CurriculumName)
    </p>
    <div>
        @Html.DisplayFor(model => model.MessageContent)
    </div>
    @if (@Model.IsRead)
    {
        <div>
            <i>seen</i> @Html.DisplayFor(model => model.ReadDate)
        </div>
    }
</div>
