﻿@model IList<AteneoHighschool.Data.ParentNotificationSlip>

@{
    ViewBag.Title = "List Communications";
}
<style>
    h3, th, p.notificationgrid, div.panelbody
    {
        color: White;
    }
    td
    {
        color: #0f52ba;
    }
</style>
<script type="text/javascript" language="javascript">
    $(function () {
        $('.click').click(function () {
            var me = $(this);
            $.get(me.attr('data-href'), function (result) {
                $('#communication-body').attr("class", "panel panel-default");
                $('#communication-body').html(result);
                $('#communicationdetail-body').html(null);
            });
        });

        $("#pns-menu").removeClass("active");
        $("#all-menu").removeClass("active");
        $("#create-menu").removeClass("active");
        $("#view-appointment-schedule").removeClass("active");
        $("#view-parent-appointment-schedule").removeClass("active");
        $("#email-support-menu").removeClass("active");
    });
</script>

<div class="row">
    <div class="span2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: white">
                    Inbox
                </h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li id="all-menu">
                        <a href="#" data-href ="@Url.Action("ListCommunication", "Communication")" class="click">
                            <input type="hidden" value="@ViewBag.CountAllUnRead" class="AllUnRead"/> 
                            ALL 
                            @if (ViewBag.CountAllUnRead > 0)
                            {
                                <span class="badge pull-right" id="CountAll">@ViewBag.CountAllUnRead</span>
                            }
                        </a> 
                    </li>
                    <li id="pns-menu">
                        <a href="#" data-href ="@Url.Action("ListNotificationSlip", "Communication")" class="click">
                            <input type="hidden" value="@ViewBag.CountPNSUnRead" class="AllPNSUnRead" />
                            PNS 
                            @if (ViewBag.CountPNSUnRead > 0)
                            {
                                <span class="badge pull-right" id="CountPNS">@ViewBag.CountPNSUnRead</span>
                            }
                        </a>
                    </li>
                    <hr style=" height: 0.5em; border-bottom: 0 "/>
                    @if (HttpContext.Current.User.IsInRole("Subject Teacher"))
                    {
                        <li id="create-menu">
                            <a href="#" data-href ="@Url.Action("CreateNotification", "Communication")" class ="click">
                                CREATE PNS
                            </a> 
                        </li>
                        <li id="view-appointment-schedule">
                            <a href="#" data-href ="@Url.Action("AppointmentSchedules", "Appointment")" class ="click">
                                APPOINTMENTS
                            </a> 
                        </li>
                    }
                    @if (HttpContext.Current.User.IsInRole("Parent"))
                    {
                        <li id="view-parent-appointment-schedule">
                            <a href="#" data-href ="@Url.Action("AppointmentSchedules", "Appointment")" class ="click">
                                SET APPOINTMENT
                            </a> 
                        </li>
                        <li id="view-parent-appointment-schedule">
                            <a href="#" data-href ="@Url.Action("ParentSchedule", "Appointment")" class ="click">
                                VIEW APPOINTMENTS
                            </a> 
                        </li>
                    }
                    <li id="email-support-menu">
                        <a href="#" data-href ="@Url.Action("EmailSupport", "Communication")" class ="click">
                            EMAIL SUPPORT
                        </a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="appointment-schedule">
    </div>
    <div class="span4">
        <div id="communication-body">
            
        </div>
    </div>
    <div class="span4">
        <div id="communicationdetail-body">
        </div>
    </div>
</div>