﻿@model AteneoHighschool.Data.SubjectTeacherVM

@{
    ViewBag.Title = "Create";
}

@using (@Html.BeginForm("CreateJson", "SubjectTeacher", FormMethod.Post, new { @id = "CreateSubjectTeacherForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectTeacher.Employee)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SubjectTeacher.EmployeeId, Model.EmployeeVM.EmployeeList, "")
            @Html.ValidationMessageFor(model => model.SubjectTeacher.EmployeeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectTeacher.Curriculum)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SubjectTeacher.CurriculumId, Model.CurriculumVM.CurriculumList, "")
            @Html.ValidationMessageFor(model => model.SubjectTeacher.CurriculumId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SubjectTeacher/Create.js")" type="text/javascript"></script>

