﻿@model AteneoHighschool.Data.SubjectTeacherVM

@using (@Html.BeginForm("DeleteJson", "SubjectTeacher", FormMethod.Post, new { @id = "DeleteSubjectTeacherForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.SubjectTeacher.SubjectTeacherId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Teacher Name :
        </div>
        <div>
            @Html.DisplayFor(model => model.SubjectTeacher.Employee.FullName)
        </div>
        <div>
            Subject :
        </div>
        <div>
            @Html.DisplayFor(model => model.SubjectTeacher.Curriculum.CurriculumName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SubjectTeacher/Delete.js")" type="text/javascript"></script>