﻿@model AteneoHighschool.Data.SubjectTeacherVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "SubjectTeacher", FormMethod.Post, new { @id = "EditSubjectTeacherForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.SubjectTeacher.SubjectTeacherId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectTeacher.Employee)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SubjectTeacher.EmployeeId, Model.EmployeeVM.EmployeeList, "")
            @Html.ValidationMessageFor(model => model.SubjectTeacher.EmployeeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectTeacher.Curriculum)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SubjectTeacher.CurriculumId, Model.CurriculumVM.CurriculumList, "")
            @Html.ValidationMessageFor(model => model.SubjectTeacher.CurriculumId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SubjectTeacher/Edit.js")" type="text/javascript"></script>
