﻿@{
    ViewBag.Title = "SUBJECT TEACHERS";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create SubjectTeacher" data-url="SubjectTeacher/Create" data-id="CreateSubjectTeacherDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="SubjectTeacherDT">
    <thead>
        <tr>
            <th></th>
            <th>Teacher Name</th>
            <th>Subject</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/SubjectTeacher/Index.js")" type="text/javascript"></script>
