﻿@model AteneoHighschool.Data.GenderVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Gender", FormMethod.Post, new { @id = "CreateGenderForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Gender.GenderName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gender.GenderName)
            @Html.ValidationMessageFor(model => model.Gender.GenderName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Gender/Create.js")" type="text/javascript"></script>
