﻿@model AteneoHighschool.Data.GenderVM

@using (@Html.BeginForm("DeleteJson", "Gender", FormMethod.Post, new { @id = "DeleteGenderForm" }))
{
          @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Gender.GenderId)

<h3>Are you sure you want to delete this?</h3>
<fieldset class="ui-form">
    <div>
         @Html.DisplayNameFor(model => model.Gender.GenderName) :
    </div>
    <div>
        @Html.DisplayFor(model => model.Gender.GenderName)
    </div>
</fieldset>
}
<script src="@Url.Content("~/Content/Js/Gender/Delete.js")" type="text/javascript"></script>