﻿@model AteneoHighschool.Data.GenderVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "Gender", FormMethod.Post, new { @id = "EditGenderForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.Gender.GenderId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Gender.GenderName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gender.GenderName)
            @Html.ValidationMessageFor(model => model.Gender.GenderName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Gender/Edit.js")" type="text/javascript"></script>
