﻿@{
    ViewBag.Title = "GENDER MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Gender" data-url="Gender/Create" data-id="CreateGenderDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="GenderDT">
    <thead>
        <tr>
            <th></th>
            <th>Gender</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Gender/Index.js")" type="text/javascript"></script>
