﻿@model AteneoHighschool.Data.PrefixVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Prefix", FormMethod.Post, new { @id = "CreatePrefixForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Prefix.PrefixName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prefix.PrefixName)
            @Html.ValidationMessageFor(model => model.Prefix.PrefixName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Prefix/Create.js")" type="text/javascript"></script>
