﻿@model AteneoHighschool.Data.PrefixVM

@using (@Html.BeginForm("DeleteJson", "Prefix", FormMethod.Post, new { @id = "DeletePrefixForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Prefix.PrefixId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset >
        <div>
            @Html.DisplayNameFor(model => model.Prefix.PrefixName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Prefix.PrefixName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Prefix/Delete.js")" type="text/javascript"></script>