﻿@model AteneoHighschool.Data.PrefixVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "Prefix", FormMethod.Post, new { @id = "EditPrefixForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.Prefix.PrefixId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Prefix.PrefixName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prefix.PrefixName)
            @Html.ValidationMessageFor(model => model.Prefix.PrefixName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Prefix/Edit.js")" type="text/javascript"></script>
