﻿@{
    ViewBag.Title = "PREFIX MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Prefix" data-url="Prefix/Create" data-id="CreatePrefixDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="PrefixDT">
    <thead>
        <tr>
            <th></th>
            <th>Prefix Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Prefix/Index.js")" type="text/javascript"></script>