﻿@*<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.mobile-1.1.2.min.css")" media="screen" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mobile-1.1.2.min.js")"></script>
        <script>
            $(document).ready(function () {
                $.mobile.ajaxEnabled = false; 
            });
        </script>
    </head> 
    <body>
        <div id="header" class="ui-widget-header ui-tool-bar">
            <div id="navigation" class="ui-navigation">
                @Html.Partial("_Navigation")
            </div>
            <div id="login">
                @Html.Partial("_LogInPartial")
            </div>
        </div>
        <div id="main-content" class="ui-layout-center">
            @RenderBody()
        </div>
        @RenderSection("scripts", false)
    </body>
    <footer>
        <div id="footer" class="ui-widget-header ui-tool-bar"><p>&copy; 2014 Ateneo de Cebu. FOR ATENEO INTERNAL USE ONLY. </p></div>
    </footer>
    @Html.Partial("_ViewSwitcher")
</html>*@

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>
            @(!string.IsNullOrEmpty(ViewBag.Title) ? "Sacred Heart School - Ateneo de Cebu : " + @ViewBag.Title : "Untitled")
        </title>
        <link href="@Url.Content("~/Scripts/DataTable/css/demo_table_jui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Scripts/DataTable/css/data-tables-supplement.css")" rel="stylesheet" type="text/css" /><link href="@Url.Content("~/Scripts/DataTable/css/demo_table.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Scripts/DataTable/css/demo_table_jui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/default/jquery.ui.timepicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/default/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" media="all" />
        <link href="@Url.Content("~/Content/fullcalendar.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/fullcalendar.print.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />

        <script src="@Url.Content("~/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/DataTable/js/jquery.dataTables.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/Js/Common/Dialog.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/Js/Common/Autocomplete.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript" ></script>
        <script src="@Url.Content("~/Scripts/jquery.layout-latest.min.js")" type="text/javascript" ></script>
        <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript" ></script>
        <script src="@Url.Content("~/Scripts/jquery.ui.timepicker.js")" type="text/javascript" ></script>
        <script src="@Url.Content("~/Scripts/fullcalendar.min.js")" type="text/javascript" ></script>
        <script src="@Url.Content("~/Scripts/globalize.js")" type="text/javascript" ></script>
    
        <script type="text/javascript">
            $(document).ready(function () {
                $(".menu").menu();
            });
        </script>
        <style type="text/css">
            .ui-layout-north
            {
                padding: .5em!important;
            }
            #header {
	            padding:0;
	            margin:0;
            }
        </style>
    </head>
    <body>
        <div id="header" class="ui-widget-header ui-tool-bar">
            <div id="navigation" class="ui-navigation">
                @Html.Partial("_Navigation")
            </div>
            <div id="login">
                @Html.Partial("_LogInPartial")
            </div>
        </div>
        <div id="main-content" class="ui-layout-center">
            @RenderBody()
        </div>
        @RenderSection("scripts", false)
    </body>
    <footer>
        <div id="footer" class="ui-widget-header ui-tool-bar"><p>&copy; 2014 Ateneo de Cebu. FOR ATENEO INTERNAL USE ONLY. </p></div>
    </footer>
    @Html.Partial("_ViewSwitcher")
</html>
@*
            _ _,---._ 
       ,-','       `-.___ 
      /-;'               `._ 
     /\/          ._   _,'o \ 
    ( /\       _,--'\,','"`. ) 
     |\      ,'o     \'    //\ 
     |      \        /   ,--'""`-. 
     :       \_    _/ ,-'         `-._ 
      \        `--'  /                ) 
       `.  \`._    ,'     ________,',' 
         .--`     ,'  ,--` __\___,;' 
          \`.,-- ,' ,`_)--'  /`.,' 
           \( ;  | | )      (`-/ 
             `--'| |)       |-/ 
               | | |        | | 
               | | |,.,-.   | |_ 
               | `./ /   )---`  ) 
              _|  /    ,',   ,-' 
   DawnBlaze ,'|_(    /-<._,' |--, 
             |    `--'---.     \/ \ 
             |          / \    /\  \ 
           ,-^---._     |  \  /  \  \ 
        ,-'        \----'   \/    \--`. 
       /            \              \   \ 
Has anyone really been far even as decided to use even go want to do look more like?
*@
