﻿<ul class="menu ui-menu">
    @if (Request.IsAuthenticated)
    {
        <li>
            <a href="#">Sacred Heart School - Ateneo de Cebu : Highschool - West Wing</a>
        </li>
        <li>
            <a href="#">Welcome @User.Identity.Name</a>
        </li>
        <li>
            <a href="@Url.Action("LogOut", "Account")">Log Out</a>
        </li>
    }
    else
    {
        <li><a href="@Url.Action("LogIn", "Account")">Log In</a></li>
    }
</ul>