﻿<ul class="menu ui-menu">
    @if (HttpContext.Current.User.IsInRole("Administrator"))
    {
        @ViewBag.Test
        <li><a href="#">Learning Institution</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="@Url.Action("Index", "School")">Schools</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Campus")">Campuses</a>
                            <ul class="ui-front ui-menu-sub">
                                <li class="ui-widget-header"><a href="@Url.Action("Index", "Course")">College</a>
                                    <ul class="ui-front ui-menu-sub">
                                        <li class="ui-widget-header"><a href="#">Gradeschool</a></li>
                                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Home")">Highschool</a></li>
                                    </ul>
                                </li>
                                <li class="ui-widget-header"><a href="">Location</a>
                                    <ul class="ui-front ui-menu-sub">
                                        <li class="ui-widget-header"><a href="#">East Wing</a></li>
                                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Home")">West Wing</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Curriculum</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="@Url.Action("Index", "Course")">Courses</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="#">Early Education</a></li>
                        <li class="ui-widget-header"><a href="#">Gradeschool</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Curriculum")">Highschool</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Community</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="@Url.Action("Index", "Person")">People</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Student")">Students</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Employee")">Employees</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Parent")">Parents</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Relationship")">Relationships</a></li>
                    </ul>
                </li>
                <li class="ui-widget-header"><a href="#">Identity and Access</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "User")">Users</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Syllabi</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="#">Early Education</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="#">Class Sections</a></li>
                        <li class="ui-widget-header"><a href="#">Subjects</a></li>
                        <li class="ui-widget-header"><a href="#">Enrollment</a>
                            <ul class="ui-front ui-menu-sub">
                                <li class="ui-widget-header"><a href="#">Class Advisers</a></li>
                                <li class="ui-widget-header"><a href="#">Students</a></li>
                                <li class="ui-widget-header"><a href="#">Subject Teacher</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="ui-widget-header"><a href="#">Gradeschool</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="#">Class Sections</a></li>
                        <li class="ui-widget-header"><a href="#">Subjects</a></li>
                        <li class="ui-widget-header"><a href="#">Enrollment</a>
                            <ul class="ui-front ui-menu-sub">
                                <li class="ui-widget-header"><a href="#">Class Advisers</a></li>
                                <li class="ui-widget-header"><a href="#">Students</a></li>
                                <li class="ui-widget-header"><a href="#">Subject Teacher</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="ui-widget-header"><a href="#">Highschool</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Group")">Class Sections</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Curriculum")">Subjects</a></li>
                        <li class="ui-widget-header"><a href="#">Enrollment</a>
                            <ul class="ui-front ui-menu-sub">
                                <li class="ui-widget-header"><a href="@Url.Action("Index", "GroupMember")">Students</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Calendar and Scheduling</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="@Url.Action("Index", "AcademicYear")">Academic Years</a></li>
                <li class="ui-widget-header"><a href="@Url.Action("Index", "Term")">Semesters</a></li>
                <li class="ui-widget-header"><a href="#">Exceptions</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Exception")">Public Holidays / No Class</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Announcement")">Events</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "SchoolActivity")">School Activities</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Resource Library</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="@Url.Action("Index", "File")">Files</a></li>
                <li class="ui-widget-header"><a href="#">Archive</a></li>
            </ul>
        </li>
        <li><a href="#">Proficiency Level</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="#">Evaluation</a></li>
                <li class="ui-widget-header"><a href="#">Scores</a></li>
                <li class="ui-widget-header"><a href="#">Analysis</a></li>
            </ul>
        </li>
        <li><a href="#">Data</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="#">Person</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Prefix")">Prefixes</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Gender")">Genders</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "CivilStatus")">Civil Statuses</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "EmployeeType")">Employee Types</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "SubjectCoordinator")">Subject Coordinator</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "LevelLeader")">Level Leader</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "SubjectTeacher")">Subject Teacher</a></li>
                    </ul>
                </li>
                <li class="ui-widget-header"><a href="#">Calendar</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "TermType")">Term Types</a></li>
                    </ul>
                </li>
                <li class="ui-widget-header"><a href="#">Department</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "CurriculumClass")">Subject Class</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "GroupAdviser")">Class Advisers</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "ClassTeacher")">Subject Teacher</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Category")">Categories</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "ProficiencyLevel")">Proficiency Levels</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "SyllabusType")">Syllabus Types</a></li>
                    </ul>
                </li>
                <li class="ui-widget-header"><a href="#">Access</a>
                    <ul class="ui-front ui-menu-sub">
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "Role")">Roles</a></li>
                        <li class="ui-widget-header"><a href="@Url.Action("Index", "UserRole")">User Roles</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    }
    @if (HttpContext.Current.User.IsInRole("Subject Teacher") || HttpContext.Current.User.IsInRole("Subject Coordinator") || HttpContext.Current.User.IsInRole("Level Leader"))
    {
        <li><a href="#">Teacher Workspace</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="@Url.Action("Index", "AppointmentSchedule")">Appointment Schedules</a></li>
                <li class="ui-widget-header"><a href="@Url.Action("Index", "TeacherFile")">Resource Library</a></li>
                <li class="ui-widget-header"><a href="@Url.Action("TrackSyllabus", "Employee")">Academic Accomplishments</a></li>
            </ul>
        </li>
    }
    @if (HttpContext.Current.User.IsInRole("Academic Principal"))
    {
        <li><a href="#">Teacher Workspace</a>
            <ul class="ui-front ui-menu-sub">
                <li class="ui-widget-header"><a href="@Url.Action("TrackSyllabus", "Employee")">Academic Accomplishments</a></li>
            </ul>
        </li>
    }
</ul>
