﻿@model AteneoHighschool.Data.RoleVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Role", FormMethod.Post, new { @id = "CreateRoleForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Role.RoleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Role.RoleName)
            @Html.ValidationMessageFor(model => model.Role.RoleName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Role.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Role.IsActive)
            @Html.ValidationMessageFor(model => model.Role.IsActive)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Role/Create.js")" type="text/javascript"></script>
