﻿@model AteneoHighschool.Data.RoleVM

@using (@Html.BeginForm("DeleteJson", "Role", FormMethod.Post, new { @id = "DeleteRoleForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Role.RoleId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset >
        <div>
            @Html.DisplayNameFor(model => model.Role.RoleName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Role.RoleName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Role/Delete.js")" type="text/javascript"></script>