﻿@model AteneoHighschool.Data.RoleVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "Role", FormMethod.Post, new { @id = "EditRoleForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.Role.RoleId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Role.RoleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Role.RoleName)
            @Html.ValidationMessageFor(model => model.Role.RoleName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Role.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Role.IsActive)
            @Html.ValidationMessageFor(model => model.Role.IsActive)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Role/Edit.js")" type="text/javascript"></script>
