﻿@{
    ViewBag.Title = "ROLE MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Role" data-url="Role/Create" data-id="CreateRoleDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="RoleDT">
    <thead>
        <tr>
            <th></th>
            <th>Role Name</th>
            <th>Is Active</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Role/Index.js")" type="text/javascript"></script>