﻿@model AteneoHighschool.Data.Access.LogIn
@{
    ViewBag.Title = "Log In";
}
<script type="text/javascript">
    $(document).ready(
        function () {
            $("#arrow-specify").hide().fadeIn(4000).promise().done(
                function() { $('#arrow-specify').fadeOut(3000); }
            );
        });
</script>
<style>
    p, h2, fieldset, legend
    {
        color: White;
    }
    .forgot-password
    {
        font-size:small;
        color:Yellow;
        
    }
    .Remember
    {
        font-size:medium;
    }

</style>
<h2>@ViewBag.Title</h2>
<p style="color: red">
    Please enter your user name and password.
</p>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="Remember">
                @Html.CheckBoxFor(m => m.RememberMe) Remember Me?             
            </div>
            <br />
            <p>
                <input type="submit" value="Log On" id="btn"/>
                <br />
                <div class="forgot-password">
                    @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account", new { @class = "forgot-password" }) <img id="arrow-specify" src="@Url.Content("~/Content/images/arrow.gif")">
                </div>
            </p>
        </fieldset>
    </div>
}
    

