﻿@model AteneoHighschool.Data.CivilStatusVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "CivilStatus", FormMethod.Post, new { @id = "CreateCivilStatusForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.CivilStatus.CivilStatusName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CivilStatus.CivilStatusName)
            @Html.ValidationMessageFor(model => model.CivilStatus.CivilStatusName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/CivilStatus/Create.js")" type="text/javascript"></script>
