﻿@model AteneoHighschool.Data.CivilStatusVM

@using (@Html.BeginForm("DeleteJson", "CivilStatus", FormMethod.Post, new {@id = "DeleteCivilStatusForm"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CivilStatus.CivilStatusId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            @Html.DisplayNameFor(model => model.CivilStatus.CivilStatusName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.CivilStatus.CivilStatusName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/CivilStatus/Delete.js")" type="text/javascript"></script>