﻿@model AteneoHighschool.Data.CivilStatusVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "CivilStatus", FormMethod.Post, new { @id = "EditCivilStatusForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.CivilStatus.CivilStatusId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.CivilStatus.CivilStatusName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CivilStatus.CivilStatusName)
            @Html.ValidationMessageFor(model => model.CivilStatus.CivilStatusName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/CivilStatus/Edit.js")" type="text/javascript"></script>
