﻿@{
    ViewBag.Title = "CIVIL STATUS MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Civil Status" data-url="CivilStatus/Create" data-id="CreateCivilStatusDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="CivilStatusDT">
    <thead>
        <tr>
            <th></th>
            <th>Civil Status Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/CivilStatus/Index.js")" type="text/javascript"></script>