﻿@model AteneoHighschool.Data.SchoolActivityVM

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("CreateJson", "SchoolActivity", FormMethod.Post, new { @id = "CreateSchoolActivityForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolActivity.SchoolActivityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolActivity.SchoolActivityName)
            @Html.ValidationMessageFor(model => model.SchoolActivity.SchoolActivityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolActivity.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolActivity.Description, "TextArea")
            @Html.ValidationMessageFor(model => model.SchoolActivity.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolActivity.StartDate)
        </div>
        <div id="datepicker">
            @Html.EditorFor(model => model.SchoolActivity.StartDate, new { @class = "date-picker" })
            @Html.ValidationMessageFor(model => model.SchoolActivity.StartDate)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolActivity.EndDate)
        </div>
        <div id="datepicker">
            @Html.EditorFor(model => model.SchoolActivity.EndDate, new { @class = "date-picker" })
            @Html.ValidationMessageFor(model => model.SchoolActivity.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolActivity.AcademicYear)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SchoolActivity.AcademicYearId, Model.AcademicYearVM.AcademicYearList, "")
            @Html.ValidationMessageFor(model => model.SchoolActivity.AcademicYearId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SchoolActivity/Create.js")" type="text/javascript"></script>

