﻿@model AteneoHighschool.Data.SchoolActivityVM

@using (@Html.BeginForm("DeleteJson", "SchoolActivity", FormMethod.Post, new { @id = "DeleteSchoolActivityForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.SchoolActivity.SchoolActivityId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        
        <div>
            @Html.DisplayNameFor(model => model.SchoolActivity.SchoolActivityName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.SchoolActivity.SchoolActivityName)
        </div>
        
        <div>
            @Html.DisplayNameFor(model => model.SchoolActivity.Description) :
        </div>
        <div>
            @Html.DisplayFor(model => model.SchoolActivity.Description)
        </div>
        
        <div>
            @Html.DisplayNameFor(model => model.SchoolActivity.AcademicYear.AcademicYearName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.SchoolActivity.AcademicYear.AcademicYearName)
        </div>
        
        <div>
            @Html.DisplayNameFor(model => model.SchoolActivity.StartDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.SchoolActivity.StartDate)
        </div>
    
        <div>
            @Html.DisplayNameFor(model => model.SchoolActivity.EndDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.SchoolActivity.EndDate)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SchoolActivity/Delete.js")" type="text/javascript"></script>