﻿@{
    ViewBag.Title = "SCHOOL ACTIVITY MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create School Activity" data-url="SchoolActivity/Create" data-id="CreateSchoolActivityDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="SchoolActivityDT">
    <thead>
        <tr>
            <th></th>
            <th>School Activity Name</th>
            <th>Description</th>
            <th>Academic Year</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/SchoolActivity/Index.js")" type="text/javascript"></script>
