﻿@model AteneoHighschool.Data.ProficiencyLevelVM

@{
    ViewBag.Title = "Create";
}

@using (@Html.BeginForm("CreateJson", "ProficiencyLevel", FormMethod.Post, new { @id = "CreateProficiencyLevelForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.ProficiencyLevel.ProficiencyLevelName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProficiencyLevel.ProficiencyLevelName)
            @Html.ValidationMessageFor(model => model.ProficiencyLevel.ProficiencyLevelName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProficiencyLevel.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProficiencyLevel.Description)
            @Html.ValidationMessageFor(model => model.ProficiencyLevel.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProficiencyLevel.Sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProficiencyLevel.Sequence)
            @Html.ValidationMessageFor(model => model.ProficiencyLevel.Sequence)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProficiencyLevel.Category)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ProficiencyLevel.CategoryId, Model.CategoryVM.CategoryList, "")
            @Html.ValidationMessageFor(model => model.ProficiencyLevel.CategoryId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/ProficiencyLevel/Create.js")" type="text/javascript"></script>

