﻿@model AteneoHighschool.Data.ProficiencyLevelVM

@using (@Html.BeginForm("DeleteJson", "ProficiencyLevel", FormMethod.Post, new { @id = "DeleteProficiencyLevelForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.ProficiencyLevel.ProficiencyLevelId)

         <h3>Are you sure you want to delete this?</h3>
<fieldset class="ui-form">
    <div>
        @Html.DisplayFor(model => model.ProficiencyLevel.ProficiencyLevelName)
    </div>

    <div>
        @Html.DisplayFor(model => model.ProficiencyLevel.Description)
    </div>

    <div>
        @Html.DisplayFor(model => model.ProficiencyLevel.Sequence)
    </div>

    <div>
        @Html.DisplayFor(model => model.ProficiencyLevel.Category.CategoryName)
    </div>
</fieldset>
}
<script src="@Url.Content("~/Content/Js/ProficiencyLevel/Delete.js")" type="text/javascript"></script>