﻿@model AteneoHighschool.Data.ProficiencyLevelVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "ProficiencyLevel", FormMethod.Post, new { @id = "EditProficiencyLevelForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.ProficiencyLevel.ProficiencyLevelId)
         @Html.HiddenFor(model => model.CategoryVM.Category.CategoryId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.ProficiencyLevel.ProficiencyLevelName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProficiencyLevel.ProficiencyLevelName)
            @Html.ValidationMessageFor(model => model.ProficiencyLevel.ProficiencyLevelName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProficiencyLevel.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProficiencyLevel.Description)
            @Html.ValidationMessageFor(model => model.ProficiencyLevel.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProficiencyLevel.Sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProficiencyLevel.Sequence)
            @Html.ValidationMessageFor(model => model.ProficiencyLevel.Sequence)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProficiencyLevel.Category)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ProficiencyLevel.CategoryId, Model.CategoryVM.CategoryList, "")
            @Html.ValidationMessageFor(model => model.ProficiencyLevel.CategoryId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/ProficiencyLevel/Edit.js")" type="text/javascript"></script>
