﻿@{
    ViewBag.Title = "PROFICIENCY LEVEL MANAGEMENTS";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Proficiency Level" data-url="ProficiencyLevel/Create" data-id="CreateProficiencyLevelDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="ProficiencyLevelDT">
    <thead>
        <tr>
            <th></th>
            <th>Proficiency Level</th>
            <th>Description</th>
            <th>Sequence</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/ProficiencyLevel/Index.js")" type="text/javascript"></script>
