﻿@model AteneoHighschool.Data.UserVM
<div class="ui-widget ui-widget-content ui-form-body">
    <fieldset>
        @Html.HiddenFor(model => model.User.UserId)
        <div>
            <label>User Name: </label>
            @Html.DisplayFor(model => model.User.UserName)
        </div>
        <div>
            <label>Email: </label>
            @Html.DisplayFor(model => model.User.Email)
        </div>
        @if (Model.User.PhoneNumber != null)
        {
            <div>
                <label>Phone Number: </label>
                @Html.DisplayFor(model => model.User.PhoneNumber)
            </div>
        }
    </fieldset>
</div>