﻿@model AteneoHighschool.Data.UserVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
<h2>@ViewBag.Title</h2>
    <div class="ui-widget-header ui-tool-bar" style="font-size: 18px">Create</div>
<div id="content-tabs-framework-detail">
    @using (Html.BeginForm("Create", "User", FormMethod.Post))
    {
        <div class="ui-widget-header ui-tool-bar">
            <a href="@Url.Action("Index", "Person")" title="Click this Icon to View Persons" class="uiButton">Back</a>
            <button type="submit" class="uiButton" name="Save">Save</button>
        </div>
        <div class="ui-form">
            <div class="ui-widget ui-widget-content ui-form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.User.UserId)
                @Html.HiddenFor(model => model.User.Password)
                @Html.HiddenFor(model => model.User.Email) 
                <fieldset class="ui-form">
                    <p style="color: red">@ViewBag.ErrorMessage</p>
                    <div>
                        <label>Username: </label>
                        @Html.DisplayFor(model => model.User.UserName)
                        @Html.HiddenFor(model => model.User.UserName)
                    </div>
                </fieldset>
            </div>
        </div>
    }
</div>

