﻿@using System.Web.UI.WebControls
@model AteneoHighschool.Data.UserVM

@{
    ViewBag.Title = string.Format("User: {0}", Model.User.UserName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" language="javascript">
    $(function () {
        $(".button-create").button({
            text: true,
            icons: {
                primary: "ui-icon-plusthick"
            }
        });
    });
</script>
<h2>@ViewBag.Title</h2>
<div>
    <div class="ui-widget-header ui-tool-bar" style="font-size: 18px">Details</div>
    <div id="content-tabs-framework-detail">
        @{
            <div class="ui-widget-header ui-tool-bar">
                <a href="@Url.Action("Index", "User")" title="Click this Icon to View Users" class="uiButton">Back</a>
                @Html.ActionLink("Add Role", "AddRole", "UserRole", new { userId = Model.User.UserId }, new { @class = "button-create" })
            </div>
            <div class="ui-form">
                @ViewBag.SuccessMessage
                @Html.Partial("_Detail", Model)
            </div>
        }
    </div>
</div>