﻿@model AteneoHighschool.Data.UserVM

@{
    ViewBag.Title = "Edit";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("EditJson", "User", FormMethod.Post, new { @id = "EditUserForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.User.UserId)
    @Html.HiddenFor(model => model.User.UserName)
    @Html.HiddenFor(model => model.User.Password)
    @Html.HiddenFor(model => model.User.PhoneNumber)
    @Html.HiddenFor(model => model.User.AccessFailedCount)
    @Html.HiddenFor(model => model.User.LockOutDate)
    @Html.HiddenFor(model => model.User.Email)
    @Html.HiddenFor(model => model.User.IsLockedOut)
    @Html.HiddenFor(model => model.User.IsConfirmed)
    @Html.HiddenFor(model => model.User.Comment)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.User.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.IsActive)
            @Html.ValidationMessageFor(model => model.User.IsActive)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/User/Edit.js")" type="text/javascript"></script>