﻿@{
    ViewBag.Title = "USER MANAGEMENT";
}
<h2>@ViewBag.Title</h2>

<table class="display" id="UserDT">
    <thead>
        <tr>
            <th></th>
            <th>User Name</th>
            <th>Email</th>
            <th>AccessFailedCount</th>
            <th>IsLockedOut</th>
            <th>IsActive</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/User/Index.js")" type="text/javascript"></script>