﻿@model AteneoHighschool.Data.SubjectCoordinatorVM

@{
    ViewBag.Title = "Create";
}

@using (@Html.BeginForm("CreateJson", "SubjectCoordinator", FormMethod.Post, new { @id = "CreateSubjectCoordinatorForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectCoordinator.Employee)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SubjectCoordinator.EmployeeId, Model.EmployeeVM.EmployeeList, "")
            @Html.ValidationMessageFor(model => model.SubjectCoordinator.EmployeeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectCoordinator.Curriculum)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SubjectCoordinator.CurriculumId, Model.CurriculumVM.CurriculumList, "")
            @Html.ValidationMessageFor(model => model.SubjectCoordinator.CurriculumId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SubjectCoordinator/Create.js")" type="text/javascript"></script>

