﻿@model AteneoHighschool.Data.SubjectCoordinatorVM

@using (@Html.BeginForm("DeleteJson", "SubjectCoordinator", FormMethod.Post, new { @id = "DeleteSubjectCoordinatorForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.SubjectCoordinator.SubjectCoordinatorId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Teacher Name :
        </div>
        <div>
            @Html.DisplayFor(model => model.SubjectCoordinator.Employee.Person.FullName)
        </div>
        <div>
            Subject :
        </div>
        <div>
            @Html.DisplayFor(model => model.SubjectCoordinator.Curriculum.CurriculumName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SubjectCoordinator/Delete.js")" type="text/javascript"></script>