﻿@{
    ViewBag.Title = "SUBJECT COORDINATORS";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Student" data-url="SubjectCoordinator/Create" data-id="CreateStudentDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="SubjectCoordinatorDT">
    <thead>
        <tr>
            <th></th>
            <th>Teacher Name</th>
            <th>Subject</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/SubjectCoordinator/Index.js")" type="text/javascript"></script>
