﻿@model IEnumerable<AteneoHighschool.Data.PathwayItemFile>
@{
    ViewBag.Title = "Attachments";
}
<div class="ui-grid">
    @if (Model.Any())
    {
        <table class="table-striped table-hover ">
            <thead>
                <tr class="ui-state-default">
                    <th style="width: 50%;">File Name</th>
                    <th style="width: 50%;">Upload Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.File.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.File.UploadDate)
                        </td>
                        <td>
                            <a href="@Url.Action("DownloadAttachment", "Pathway", new { fileId = item.FileId })">Download</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Attachments have been added.</p>
    }
</div>