﻿@model AteneoHighschool.Data.HatsVM
@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function() {
        $('#SubmitHats').on('click', function () {
            $('#calendar').load();
        });
        $(".uiButton").button();
    });
</script>
@using (@Html.BeginForm("CreateHats", "Pathway", FormMethod.Post, new { pathwayItemTypeSelected = @ViewBag.PathwayItemTypeSelected }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Hats.PathwayItemId)

    <fieldset class="ui-form">
        @ViewBag.CreateSuccess
        <div>
            Date: @ViewBag.Date
            @Html.HiddenFor(model => model.Hats.Date)
        </div>
        <p></p>
        <div>
            Class: @Html.DisplayFor(model => model.Hats.CurriculumClass.CurriculumClassName)
            @Html.HiddenFor(model => model.Hats.CurriculumClassId)
        </div>
        <p></p>
        <div>
            @Html.EditorFor(model => model.Hats.HatsType, "HatsType")
            @Html.ValidationMessageFor(model => model.Hats.HatsType)
        </div>
        <p></p>
        <div>
            @Html.LabelFor(model => model.Hats.Description):
        </div>
        <div>
            @Html.EditorFor(model => model.Hats.Description, "TextArea")
            @Html.ValidationMessageFor(model => model.Hats.Description)
        </div>
        <fieldset>
            <legend>Activity Type</legend>
            <div>
                @Html.EditorFor(model => model.Hats.PathwayItemType, "PathwayItemType")
                @Html.ValidationMessageFor(model => model.Hats.PathwayItemType)
            </div>
        </fieldset>
        <p>
            <input id="SubmitHats" type="submit" value="Update HATS" class="uiButton"/>
        </p>
    </fieldset>
}
