﻿@model IEnumerable<AteneoHighschool.Data.CurriculumItem>

<div class="ui-grid">
    @if (Model.Any())
    {  
        <div class="ui-grid-body">
           <table class="table-striped table-hover">
                <thead >
                    <tr class="ui-state-default">     
                        <th>Topic</th> 
                        <th style="width:30%; ">Description</th>
                    </tr>
                </thead>
                
                <tbody>   
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@Html.DisplayFor(model => item.CurriculumItemName)</td>
                            <td>@Html.DisplayFor(model => item.Description)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    { 
        <div class="ui-widget-content ui-corner-bottom ui-helper-clearfix" style="padding: 0.5em;">
            No results found
        </div>
    }
</div>