﻿@model AteneoHighschool.Data.PathwayItemVM

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/default/jquery-ui-1.10.3.custom.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style.css")"/>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")"></script>

<script>
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
    $(function () {
        $("#tabs").tabs();
    });
</script>
<style>
    body {
        text-align: left;
        direction: ltr;
        font-family: Lucida Grande,Lucida Sans, Arial,sans-serif!important;
    }

    body, button, input, label, select, td, textarea, label {
        font-size:13px!important;
        color:#362b36;
    }
</style>
<div id='tabs'>
    <div>
        <ul>
            <li><a href="#tabs-pathway-item">Details</a></li>
            <li><a href="#tabs-pathway-item-curriculum">Syllabus</a></li>
            @if (Model.PathwayItem.StartDate > DateTime.Now)
            {
                <li><a href="#tabs-pathway-item-hats">HATS</a></li>
            }
            <li><a href="#tabs-pathway-item-filelist">Files</a></li>
            @if (Model.PathwayItem.StartDate > DateTime.Now)
            {
                <li><a href="#tabs-pathway-item-files">Upload</a></li>
            }
        </ul>
    </div>
    <div id="tabs-pathway-item" class="ui-widget ui-widget-content ui-form-body">
        @{
            ViewBag.Title = "Edit";
        }
        <fieldset class="ui-form">
            <div style="color: green">@ViewBag.CreateSuccess</div>
            <div style="color: red">@ViewBag.CreateFail</div>
            <div>
                <label>
                    <b>Curriculum: </b>
                </label>
                @Html.DisplayFor(model => model.PathwayItem.Curriculum.CurriculumName)
            </div>
            <p></p>
            <div>
                <label>
                    <b>Class: </b>
                </label>
                @Html.DisplayFor(model => model.PathwayItem.CurriculumClassName)
            </div>
            <p></p>
            <div>
                <label>
                    <b>Start: </b>
                </label>
                @Html.DisplayFor(model => model.PathwayItem.StartDate.TimeOfDay)
            </div>
            <p></p>
            <div>
                <label>
                    <b>End: </b>
                </label>
                @Html.DisplayFor(model => model.PathwayItem.EndDate.TimeOfDay) 
            </div>
            <p></p>
            <div>
                @if (Model.PathwayItem.PathwayItemType != null)
                {
                    <label>
                        <b>Activity Type:</b>
                    </label>
                    @Html.DisplayFor(model => model.PathwayItem.PathwayItemType) 
                }
            </div>
            <p></p>
            <div>
                @if(ViewBag.HatsType != null)
                {
                    <fieldset>
                        <legend>HATS</legend>
                        @ViewBag.HatsType
                        <p></p>
                        @ViewBag.HatsTypeDescription
                    </fieldset>
                }
            </div>
        </fieldset>
    </div>
    <div id="tabs-pathway-item-curriculum" class="ui-widget ui-widget-content ui-form-body">
        @{
            Html.RenderAction("Curriculum", "Pathway", Model.PathwayItem);
        }
    </div>
    @if (Model.PathwayItem.StartDate > DateTime.Now)
    {
        <div id="tabs-pathway-item-hats" class="ui-widget ui-widget-content ui-form-body">
            @{
                Html.RenderAction("CreateHats", "Pathway", new {date = Model.PathwayItem.StartDate, curriculumClassId = Model.PathwayItem.CurriculumClassId, pathwayItemId = Model.PathwayItem.PathwayItemId});
            }
        </div>
    }
    <div id="tabs-pathway-item-filelist" class="ui-widget ui-widget-content ui-form-body">
        @{
            Html.RenderAction("Attachments", "Pathway", new { id = Model.PathwayItem.PathwayItemId });
        }
    </div>
    @if (Model.PathwayItem.StartDate > DateTime.Now)
    {
        <div id="tabs-pathway-item-files" class="ui-widget ui-widget-content ui-form-body">
            @{
                Html.RenderAction("UploadFile", "Pathway", new {pathwayItemId = Model.PathwayItem.PathwayItemId});
            }
        </div>
    }
</div>