﻿@using System.Diagnostics
@{
    ViewBag.Title = "Pathway";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var url = "/Pathway/GetEvents/";
    $(document).ready(function() {
        $('#dropdown').change(function() {
            var events = {
                url: '/Pathway/GetEvents/',
                type: 'POST',
                data: {
                    name: $('#dropdown').val()
                }
            }
            $('#calendar').fullCalendar('removeEventSource', events);
            $('#calendar').fullCalendar('addEventSource', events);
        }); // end of $('#dropdown')
        var $dialog;

        //Temporary, works only on running as local
        var port = @{
                       Debug.Assert(Request.Url != null, "Request.Url != null");
                   }
            @Request.Url.Port;
        //

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'basicWeek,basicDay'
            },
            theme: true,
            defaultView: 'basicWeek',
            editable: false,
            selectable: true,
            eventLimit: false, // allow "more" link when too many events
            weekends: false,
            loading: function(bool) {
                if (bool) {
                    $.blockUI({
                        message: '<img src="../Content/images/progress.gif" width="500px"/> <br/> Please Wait...',
                        css: { border: '2px solid #B8B8B8 ', cursor: 'wait', backgroundColor: '#FFFFFF' },
                        overlayCSS: { backgroundColor: '#B8B8B8 ', opacity: 0.2, cursor: 'wait' }
                    });
                } else {
                    $.unblockUI();
                }
            },
            events: url,
            eventClick: function(event) {
                if(event.className == "schedule"){
                    var url = 'http://localhost:' + port + '/Pathway/Detail/' + event.id; //Change after publish
                    $dialog = $('<div></div>')
                        .html('<iframe style="border: 0px; " src="' + url + '" width="100%" height="100%"></iframe>')
                        .dialog({
                            autoOpen: false,
                            closeOnEscape: false,
                            modal: true,
                            width: 550,
                            height: 470,
                            buttons: {
                                "Close": function() {
                                    $(this).dialog('close');
                                    $(eventBox).css("border-color", "");
                                    $('#calendar').fullCalendar('refetchEvents');
                                },
                            },
                            open: function() {
                                $(this).css('overflow', 'hidden'); //hide scroll bar
                            }
                        });
                    $dialog.dialog('open');
                }
            },
            eventRender: function(event, element) {
                element.find('.fc-event-title').append("<br /><div class='description'>" + event.description + "</div>");
                $(element).css('height', '100px'); 
                $(element).css('font-family', 'Arial'); 
                $(element).css('padding', '0.5em');
            },
            eventMouseover: function() {
                $(this).css("border-color", "red");
            },
            eventMouseout: function() {
                $(this).css("border-color", "");
            },
        }); // end of #calendar

        $("#printPathway").click(function() {
            window.print();
        });

        $(".uiButton").button();
    }); // end of document.ready
</script>
<style type="text/css">    
    .description {
        font-size: 12px;
        font-weight: normal;
        color: black;
    }
    .heading{
        font-size:15px;
        font-family:Arial;
        color:White;
        background-color:#0f52ba;
        font-weight:bold;
        padding-top:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-right:10px;
    }          
    .calendar{
        background-color:White;   
    }
    .boxheight {
        height: 250px;
    }
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    .fc-event{
        cursor: pointer;
    }
    .fc-event-time{
        display : none;
    }
    .fc-event-inner {
        font-size: 1.2em;
    }
    .fc-event-title 
    {
        font-weight: bold;
        font-size: 15px;
    }
    .exception .fc-event-title
    {
        color: orange;
    }
    .exception,
    .exception div,
    .exception span {
        border-color: black;     /* border color */
        height: 800px !important;
        text-align: center;
    }
    .announcement .fc-event-title
    {
        color: #ffd700;
    }
    .announcement,
    .announcement div,
    .announcement span {
        border-color: black;     /* border color */
        text-align: center;
    }
    .schoolactivity .fc-event-title
    {
        color: green;
    }
    .schoolactivity,
    .schoolactivity div,
    .schoolactivity span {
        border-color: black;     /* border color */
        text-align: center;
    }
    .schedule,
    .schedule div,
    .schedule span {
        background-color: white; /* background color */
        border-color: black;     /* border color */
        color: black;           /* text color */
    }
    .blank,
    .blank div,
    .blank span {
        background-color: white; /* background color */
        border-color: black;     /* border color */
        color: black;           /* text color */
    }
</style>

<div id="commonMessage" style="color:Yellow">
</div>

<div class="calendar">
    <div class="heading" id="nonprintable">
        Pathway to Competence
    </div>
    <div class="text-center" style="padding-top: 10px" id="nonprintable">
        <label>
            <b>PATHWAY TO COMPETENCE</b>
        </label>
    </div>
    <div id="loading" style="display:none">
        <img style='display:none' src="../../Content/images/progress.gif"/>
    </div>
    <div style="padding-left: 10px" id="nonprintable">
        <button id="printPathway" class="uiButton" style="padding-left: 10px">Print Pathway</button>
    </div>
    <br/>
    <div style="padding-left: 10px" id="nonprintable">
        <select id="dropdown">
            <option value="">-</option>
            @foreach (var item in ViewBag.DropDown)
            {
                <option value="@item">@item</option> 
            }
        </select>
    </div>
    <div id='calendar' style="padding: 10px">
    </div>
</div>