﻿@model AteneoHighschool.Data.FileVM
@{
    ViewBag.Title = "Upload";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".uiButton").button();
    });
</script>
@using (Html.BeginForm("UploadFile", "Pathway", FormMethod.Post, new { enctype = "multipart/form-data", id = Model.File.FileId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div style="color: red">@ViewBag.SuccessMessage</div>
    <fieldset class="ui-form">
        <div>
            Date: @Html.DisplayFor(model => model.File.UploadDate)
        </div>
        <p></p>
        <div>
            File: <input type="file" name="file" id="file" size="45" class="text-box" />
        </div>
        <p>
            <input id="UploadFile" type="submit" value="Upload File" class="uiButton"/>
        </p>
    </fieldset>
}