﻿@model AteneoHighschool.Data.UserRoleVM
@{
    ViewBag.Title = "Add Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
<h2>@ViewBag.Title</h2>
<div id="content-tabs-framework-detail">
    @using (Html.BeginForm("AddRole", "UserRole", FormMethod.Post))
    {
        <div class="ui-widget-header ui-tool-bar">
            <a href="@Url.Action("Index", "User")" title="Click this Icon to View Users" class="uiButton">Back</a>
            <button type="submit" class="uiButton" name="Save">Save</button>
        </div>
        <div class="ui-form">
            <div class="ui-widget ui-widget-content ui-form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.UserRole.UserId)

                <fieldset class="ui-form">
                    <p style="color: red">@ViewBag.ErrorMessage</p>
                    <div>
                        <label>Username: </label>
                        @Html.DisplayFor(model => model.UserRole.UserName)
                        @Html.HiddenFor(model => model.UserRole.UserName)
                    </div>
                    <div>
                        <label>Role: </label>
                        @Html.DropDownListFor(model => model.UserRole.RoleId, Model.RoleVM.RoleList, "")
                        @Html.ValidationMessageFor(model => model.UserRole.RoleId)
                    </div>
                </fieldset>
            </div>
        </div>
    }
</div>

