﻿.@{
    ViewBag.Title = "USER ROLE MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<table class="display" id="UserRoleDT">
    <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>Role Name</th>
            <th>IsActive</th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/UserRole/Index.js")" type="text/javascript"></script>