﻿@model AteneoHighschool.Data.CurriculumItemVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "CurriculumItem", FormMethod.Post, new { @id = "CreateCurriculumItemForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.CurriculumItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumItem.CurriculumItemName)
            @Html.ValidationMessageFor(model => model.CurriculumItem.CurriculumItemName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumItem.Description, "TextArea")
            @Html.ValidationMessageFor(model => model.CurriculumItem.Description)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.Units)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumItem.Units)
            @Html.ValidationMessageFor(model => model.CurriculumItem.Units)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.Sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumItem.Sequence)
            @Html.ValidationMessageFor(model => model.CurriculumItem.Sequence)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.Curriculum)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumItem.CurriculumId, Model.CurriculumVM.CurriculumList, "")
            @Html.ValidationMessageFor(model => model.CurriculumItem.CurriculumId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.ProficiencyLevel)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumItem.ProficiencyLevelId, Model.ProficeLevelVM.ProficiencyLevelList, "")
            @Html.ValidationMessageFor(model => model.CurriculumItem.ProficiencyLevelId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/CurriculumItem/Create.js")" type="text/javascript"></script>

