﻿@model AteneoHighschool.Data.CurriculumItemVM

@using (@Html.BeginForm("DeleteJson", "CurriculumItem", FormMethod.Post, new {@id = "DeleteCurriculumItemForm"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CurriculumItem.CurriculumItemId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Curriculum Item Name :
        </div>
        <div>
            @Html.DisplayFor(model => model.CurriculumItem.CurriculumItemName)
        </div>

        <div>
            Description :
        </div>
        <div>
            @Html.DisplayFor(model => model.CurriculumItem.Description)
        </div>

        <div>
            Unit :
        </div>
        <div>
            @Html.DisplayFor(model => model.CurriculumItem.Units)
        </div>
        
        <div>
            Sequence :
        </div>
        <div>
            @Html.DisplayFor(model => model.CurriculumItem.Sequence)
        </div>
        
        <div>
            Curriculum :
        </div>
        <div>
            @Html.DisplayFor(model => model.CurriculumItem.Curriculum.CurriculumName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/CurriculumItem/Delete.js")" type="text/javascript"></script>