﻿@model AteneoHighschool.Data.CurriculumItemVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "CurriculumItem", FormMethod.Post, new { @id = "EditCurriculumItemForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.CurriculumItem.CurriculumItemId)
         @Html.HiddenFor(model => model.CurriculumVM.Curriculum.CurriculumId)

    <fieldset class="ui-form">

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.CurriculumItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumItem.CurriculumItemName)
            @Html.ValidationMessageFor(model => model.CurriculumItem.CurriculumItemName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumItem.Description, "TextArea")
            @Html.ValidationMessageFor(model => model.CurriculumItem.Description)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.Units)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumItem.Units)
            @Html.ValidationMessageFor(model => model.CurriculumItem.Units)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.Sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumItem.Sequence)
            @Html.ValidationMessageFor(model => model.CurriculumItem.Sequence)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.Curriculum)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumItem.Curriculumid, Model.CurriculumVM.CurriculumList, "")
            @Html.ValidationMessageFor(model => model.CurriculumItem.Curriculumid)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumItem.ProficiencyLevel)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumItem.ProficiencyLevelId, Model.ProficeLevelVM.ProficiencyLevelList, "")
            @Html.ValidationMessageFor(model => model.CurriculumItem.ProficiencyLevelId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/CurriculumItem/Edit.js")" type="text/javascript"></script>
