﻿@{
    ViewBag.Title = "CURRICULUM ITEM MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Curriculum Item" data-url="CurriculumItem/Create" data-id="CreateCurriculumItemDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="CurriculumItemDT">
    <thead>
        <tr>
            <th></th>
            <th>Topic</th>
            <th>Description</th>
            <th>Units</th>
            <th>Sequence</th>
            <th>Subject</th>
            <th>Proficiency Level</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/CurriculumItem/Index.js")" type="text/javascript"></script>