﻿@model AteneoHighschool.Data.SyllabusTypeVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "SyllabusType", FormMethod.Post, new { @id = "CreateSyllabusTypeForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.SyllabusType.SyllabusTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SyllabusType.SyllabusTypeName)
            @Html.ValidationMessageFor(model => model.SyllabusType.SyllabusTypeName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SyllabusType/Create.js")" type="text/javascript"></script>
