﻿@model AteneoHighschool.Data.SyllabusTypeVM

@using (@Html.BeginForm("DeleteJson", "SyllabusType", FormMethod.Post, new { @id = "DeleteSyllabusTypeForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SyllabusType.SyllabusTypeId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset >
        <div>
            @Html.DisplayNameFor(model => model.SyllabusType.SyllabusTypeName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.SyllabusType.SyllabusTypeName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SyllabusType/Delete.js")" type="text/javascript"></script>