﻿@model AteneoHighschool.Data.SyllabusTypeVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "SyllabusType", FormMethod.Post, new { @id = "EditSyllabusTypeForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.SyllabusType.SyllabusTypeId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.SyllabusType.SyllabusTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SyllabusType.SyllabusTypeName)
            @Html.ValidationMessageFor(model => model.SyllabusType.SyllabusTypeName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/SyllabusType/Edit.js")" type="text/javascript"></script>
