﻿@{
    ViewBag.Title = "SYLLABUS TYPE MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Syllabus Type" data-url="SyllabusType/Create" data-id="CreateSyllabusTypeDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="SyllabusTypeDT">
    <thead>
        <tr>
            <th></th>
            <th>Syllabus Type Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/SyllabusType/Index.js")" type="text/javascript"></script>