﻿tr.odd {
	background-color: #E1E4E1;
    font-size:.85em;
   /* cursor:pointer;*/

}
tr.even {
	background-color: white;
    font-size:.85em;
  /*  cursor:pointer;*/

}
tr.odd td.sorting_1 {
	background-color: #D9DCD9;
}
tr.even td.sorting_1 {
	background-color: #FCFFF7;
}
.dataTables_processing
{
    margin-top:5px;
    background-color:white;
    background-image:url('../Scripts/datatable/images/loadera16.gif');
    background-repeat:no-repeat;
}

tr.deleted 
{
    background-color:#F8F4FC;
    color:Silver;
    text-align:center;
}