﻿@model IEnumerable<AteneoHighschool.Data.TeacherFile>
@{
    ViewBag.Title = "RESOURCE LIBRARY MANAGEMENT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/default/jquery-ui-1.10.3.custom.css")" media="all" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")"></script>
<script src="@Url.Content("~/Content/Js/Common/Dialog.js")" type="text/javascript"></script>

<div id="tabs">
    <ul>
        <li><a href="#content-tabs-class-files-list">Files</a></li>
    </ul>
    <div id="content-tabs-class-files-list">
        <div class="ui-grid">
            @if (Model.Any())
            {
                <div id="checkboxes" class="ui-grid-body">
                    <table class="table-striped table-hover" id="FileDT">
                        <thead>
                            <tr class="ui-state-default">
                                <th>
                                    File Name
                                </th>
                                <th>
                                    Mime Type
                                </th>
                                <th>
                                    Upload Date
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.File.FileName
                                    </td>
                                    <td>
                                        @item.File.MimeType
                                    </td>
                                    <td>
                                        @item.File.UploadDate
                                    </td>
                                    <td>
                                        @item.File.Status
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            { 
                <div class="ui-widget-content ui-corner-bottom ui-helper-clearfix" style="padding: 0.5em;">
                    No results found
                </div>
            }
        </div>  
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#tabs").tabs();
    });
</script>

<style>
    .ui-grid-body
    {
        padding: .2em;
        border-bottom-width: 0!important;
    }
</style>
