﻿<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
<script type="text/javascript">
    $(function () {
        $('.fadein img:gt(0)').hide();
        setInterval(function () {
            $('.fadein :first-child').fadeOut()
         .next('img').fadeIn()
         .end().appendTo('.fadein');
        },
      3000);
    });
</script>
<style>
.fadein { position:relative; width:1150px; height:250px; }
.fadein img { position:absolute; left:0; top:0; }
</style>

<div class="fadein">
  <img src="@Url.Content("~/Content/images/ignatius-13.png")">
  <img src="@Url.Content("~/Content/images/stage-tarp.png")">
</div>