﻿@{
    ViewBag.Title = "EPOST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .link
    {
        color:Yellow;
    }
</style>
@if (ViewBag.EmailConfirmation != null)
{
      <p style="font-size:large;color:Yellow;"> Important Notice!  Please confirm your e-mail address immediately.</p>
      <p style="color: White">
      
        If you have not received an email from ateneoepost@gmail.com please try the following:
        <br/>
        1.) Click this link to resend
        the email confirmation. @Html.ActionLink("Resend email confirmation", "SendEmailConfirmation", "Account")
        <br/>
        2.) or change your email address and click resend confirmation.  
        <br/>
        <br/>
        You can also edit your profile to check the validity of your information.</p> 
}
@Html.Partial("_Slider")
