﻿@model AteneoHighschool.Data.AnnouncementVM

@using (@Html.BeginForm("DeleteJson", "Announcement", FormMethod.Post, new { @id = "DeleteAnnouncementForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Announcement.AnnouncementId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        
        <div>
            @Html.DisplayNameFor(model => model.Announcement.AnnouncementName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Announcement.AnnouncementName)
        </div>
        
        <div>
            @Html.DisplayNameFor(model => model.Announcement.Description) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Announcement.Description)
        </div>
        
        <div>
            @Html.DisplayNameFor(model => model.Announcement.AcademicYear.AcademicYearName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Announcement.AcademicYear.AcademicYearName)
        </div>
        
        <div>
            @Html.DisplayNameFor(model => model.Announcement.StartDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Announcement.StartDate)
        </div>
    
        <div>
            @Html.DisplayNameFor(model => model.Announcement.EndDate) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Announcement.EndDate)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Announcement/Delete.js")" type="text/javascript"></script>