﻿@{
    ViewBag.Title = "EVENT MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Announcement" data-url="Announcement/Create" data-id="CreateAnnouncementDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="AnnouncementDT">
    <thead>
        <tr>
            <th></th>
            <th>Announcement Name</th>
            <th>Description</th>
            <th>Academic Year</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Announcement/Index.js")" type="text/javascript"></script>
