﻿@model AteneoHighschool.Data.CurriculumClassVM

@{
    ViewBag.Title = "Create";
}

@using (@Html.BeginForm("CreateJson", "CurriculumClass", FormMethod.Post, new { @id = "CreateCurriculumClassForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
@*        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumClass.CurriculumClassName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumClass.CurriculumClassName)
            @Html.ValidationMessageFor(model => model.CurriculumClass.CurriculumClassName)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumClass.Group)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumClass.GroupId, Model.GroupVM.GroupList, "")
            @Html.ValidationMessageFor(model => model.CurriculumClass.GroupId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumClass.Curriculum)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumClass.CurriculumId, Model.CurriculumVM.CurriculumList, "")
            @Html.ValidationMessageFor(model => model.CurriculumClass.CurriculumId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumClass.AcademicYear)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumClass.AcademicYearId, Model.AcademicYearVM.AcademicYearList, "")
            @Html.ValidationMessageFor(model => model.CurriculumClass.AcademicYearId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/CurriculumClass/Create.js")" type="text/javascript"></script>

