﻿@model AteneoHighschool.Data.CurriculumClassVM

@using (@Html.BeginForm("DeleteJson", "CurriculumClass", FormMethod.Post, new { @id = "DeleteCurriculumClassForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CurriculumClass.CurriculumClassId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            @Html.DisplayNameFor(model => model.CurriculumClass.CurriculumClassName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.CurriculumClass.CurriculumClassName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.CurriculumClass.Group.GroupName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.CurriculumClass.Group.GroupName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.CurriculumClass.Curriculum.CurriculumName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.CurriculumClass.Curriculum.CurriculumName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/CurriculumClass/Delete.js")" type="text/javascript"></script>