﻿@model AteneoHighschool.Data.CurriculumClassVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "CurriculumClass", FormMethod.Post, new { @id = "EditCurriculumClassForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.CurriculumClass.CurriculumClassId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumClass.CurriculumClassName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurriculumClass.CurriculumClassName)
            @Html.ValidationMessageFor(model => model.CurriculumClass.CurriculumClassName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumClass.Group)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumClass.GroupId, Model.GroupVM.GroupList, "")
            @Html.ValidationMessageFor(model => model.CurriculumClass.GroupId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumClass.Curriculum)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumClass.CurriculumId, Model.CurriculumVM.CurriculumList, "")
            @Html.ValidationMessageFor(model => model.CurriculumClass.CurriculumId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurriculumClass.AcademicYear)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CurriculumClass.AcademicYearId, Model.AcademicYearVM.AcademicYearList, "")
            @Html.ValidationMessageFor(model => model.CurriculumClass.AcademicYearId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/CurriculumClass/Edit.js")" type="text/javascript"></script>
