﻿@{
    ViewBag.Title = "CURRICULUM CLASS MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Curriculum Class" data-url="CurriculumClass/Create" data-id="CreateCurriculumClassDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="CurriculumClassDT">
    <thead>
        <tr>
            <th></th>
            <th>Class Name</th>
            <th>Curriculum</th>
            <th>Academic Year</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/CurriculumClass/Index.js")" type="text/javascript"></script>
