﻿@model AteneoHighschool.Data.CourseVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Course", FormMethod.Post, new { @id = "CreateCourseForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Course.CourseCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Course.CourseCode)
            @Html.ValidationMessageFor(model => model.Course.CourseCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Course.CourseName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Course.CourseName)
            @Html.ValidationMessageFor(model => model.Course.CourseName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Course.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Course.Description)
            @Html.ValidationMessageFor(model => model.Course.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Course.Campus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Course.CampusId, Model.CampusVM.CampusList, "")
            @Html.ValidationMessageFor(model => model.Course.CampusId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Course/Create.js")" type="text/javascript"></script>

