﻿@model AteneoHighschool.Data.CourseVM

@using (@Html.BeginForm("DeleteJson", "Course", FormMethod.Post, new {@id = "DeleteCourseForm"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Course.CourseId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Course Code :
        </div>
        <div>
            @Html.DisplayFor(model => model.Course.CourseCode)
        </div>

        <div>
            Course Name :
        </div>
        <div>
            @Html.DisplayFor(model => model.Course.CourseName)
        </div>

        <div>
            Description :
        </div>
        <div>
            @Html.DisplayFor(model => model.Course.Description)
        </div>
        
        <div>
            Campus :
        </div>
        <div>
            @Html.DisplayFor(model => model.Course.Campus.CampusName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Course/Delete.js")" type="text/javascript"></script>