﻿@{
    ViewBag.Title = "COLLEGE MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Course" data-url="Course/Create" data-id="CreateCourseDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="CourseDT">
    <thead>
        <tr>
            <th></th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Description</th>
            <th>Campus</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Course/Index.js")" type="text/javascript"></script>