﻿@model AteneoHighschool.Data.ScheduleVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Schedule", FormMethod.Post, new { @id = "CreateScheduleForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedule.ScheduleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Schedule.ScheduleName)
            @Html.ValidationMessageFor(model => model.Schedule.ScheduleName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedule.Sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Schedule.Sequence)
            @Html.ValidationMessageFor(model => model.Schedule.Sequence)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Schedule/Create.js")" type="text/javascript"></script>
