﻿@model AteneoHighschool.Data.ScheduleVM

@using (@Html.BeginForm("DeleteJson", "Schedule", FormMethod.Post, new { @id = "DeleteScheduleForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Schedule.ScheduleId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset >
        <div>
            @Html.DisplayNameFor(model => model.Schedule.ScheduleName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Schedule.ScheduleName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Schedule/Delete.js")" type="text/javascript"></script>