﻿@model AteneoHighschool.Data.ScheduleVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "Schedule", FormMethod.Post, new { @id = "EditScheduleForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.Schedule.ScheduleId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedule.ScheduleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Schedule.ScheduleName)
            @Html.ValidationMessageFor(model => model.Schedule.ScheduleName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedule.Sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Schedule.Sequence)
            @Html.ValidationMessageFor(model => model.Schedule.Sequence)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Schedule/Edit.js")" type="text/javascript"></script>
