﻿@{
    ViewBag.Title = "SCHEDULE MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Schedule" data-url="Schedule/Create" data-id="CreateScheduleDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="ScheduleDT">
    <thead>
        <tr>
            <th></th>
            <th>Schedule Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Schedule/Index.js")" type="text/javascript"></script>