﻿@model AteneoHighschool.Data.GroupVM

@{
    ViewBag.Title = "Create";
}

@using (@Html.BeginForm("CreateJson", "Group", FormMethod.Post, new { @id = "CreateGroupForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Group.GroupName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Group.GroupName)
            @Html.ValidationMessageFor(model => model.Group.GroupName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Group.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Group.Description)
            @Html.ValidationMessageFor(model => model.Group.Description)
        </div>
        
        <div class="editor-label">
            Level
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Group.ProficiencyLevelId, Model.ProficiencyLevelVM.ProficiencyLevelList, "")
            @Html.ValidationMessageFor(model => model.Group.ProficiencyLevelId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Group/Create.js")" type="text/javascript"></script>
