﻿@model AteneoHighschool.Data.GroupVM

@using (@Html.BeginForm("DeleteJson", "Group", FormMethod.Post, new {@id = "DeleteGroupForm"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Group.GroupId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            @Html.DisplayNameFor(model => model.Group.GroupName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Group.GroupName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Group.Description) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Group.Description)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Group/Delete.js")" type="text/javascript"></script>