﻿@{
    ViewBag.Title = "GROUP MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Group" data-url="Group/Create" data-id="CreateGroupDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="GroupDT">
    <thead>
        <tr>
            <th></th>
            <th>Group Name</th>
            <th>Description</th>
            <th>Adviser</th>
            <th>Level</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Group/Index.js")" type="text/javascript"></script>