﻿@model AteneoHighschool.Data.TermTypeVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "TermType", FormMethod.Post, new { @id = "CreateTermTypeForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.TermType.TermTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TermType.TermTypeName)
            @Html.ValidationMessageFor(model => model.TermType.TermTypeName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/TermType/Create.js")" type="text/javascript"></script>
