﻿@model AteneoHighschool.Data.TermTypeVM

@using (@Html.BeginForm("DeleteJson", "TermType", FormMethod.Post, new { @id = "DeleteTermTypeForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TermType.TermTypeId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset >
        <div>
            @Html.DisplayNameFor(model => model.TermType.TermTypeName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.TermType.TermTypeName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/TermType/Delete.js")" type="text/javascript"></script>