﻿@model AteneoHighschool.Data.TermTypeVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "TermType", FormMethod.Post, new { @id = "EditTermTypeForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.TermType.TermTypeId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.TermType.TermTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TermType.TermTypeName)
            @Html.ValidationMessageFor(model => model.TermType.TermTypeName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/TermType/Edit.js")" type="text/javascript"></script>
