﻿@{
    ViewBag.Title = "TERM TYPE MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Term Type" data-url="TermType/Create" data-id="CreateTermTypeDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="TermTypeDT">
    <thead>
        <tr>
            <th></th>
            <th>Term Type Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/TermType/Index.js")" type="text/javascript"></script>