﻿@model AteneoHighschool.Data.ParentVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Parent", FormMethod.Post, new { @id = "CreateParentForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Parent.Person)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Parent.PersonId, Model.PersonVM.PersonList, "")
            @Html.ValidationMessageFor(model => model.Parent.PersonId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Parent/Create.js")" type="text/javascript"></script>

