﻿@model AteneoHighschool.Data.ParentVM

@using (@Html.BeginForm("DeleteJson", "Parent", FormMethod.Post, new { @id = "DeleteParentForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Parent.ParentId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            @Html.DisplayNameFor(model => model.Parent.Person.FullName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Parent.Person.FullName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Parent.Person.Gender.GenderName) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Parent.Person.Gender.GenderName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Parent.Person.Age) :
        </div>
        <div>
            @Html.DisplayFor(model => model.Parent.Person.Age)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Parent/Delete.js")" type="text/javascript"></script>