﻿@model AteneoHighschool.Data.ParentVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "Parent", FormMethod.Post, new { @id = "EditParentForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.Parent.ParentId)
         @Html.HiddenFor(model => model.PersonVM.Person.PersonId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Parent.Person)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Parent.PersonId, Model.PersonVM.PersonList, "")
            @Html.ValidationMessageFor(model => model.Parent.PersonId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Parent/Edit.js")" type="text/javascript"></script>
