﻿@{
    ViewBag.Title = "PARENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Parent" data-url="Parent/Create" data-id="CreateParentDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="ParentDT">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Parent/Index.js")" type="text/javascript"></script>
