﻿@model AteneoHighschool.Data.LevelLeaderVM

@{
    ViewBag.Title = "Create";
}

@using (@Html.BeginForm("CreateJson", "LevelLeader", FormMethod.Post, new { @id = "CreateLevelLeaderForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.LevelLeader.Employee)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LevelLeader.EmployeeId, Model.EmployeeVM.EmployeeList, "")
            @Html.ValidationMessageFor(model => model.LevelLeader.EmployeeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LevelLeader.ProficiencyLevel)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LevelLeader.ProficiencyLevelId, Model.ProficiencyLevelVM.ProficiencyLevelList, "")
            @Html.ValidationMessageFor(model => model.LevelLeader.ProficiencyLevelId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/LevelLeader/Create.js")" type="text/javascript"></script>

