﻿@model AteneoHighschool.Data.LevelLeaderVM

@using (@Html.BeginForm("DeleteJson", "LevelLeader", FormMethod.Post, new { @id = "DeleteLevelLeaderForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.LevelLeader.LevelLeaderId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Teacher Name :
        </div>
        <div>
            @Html.DisplayFor(model => model.LevelLeader.Employee.Person.FullName)
        </div>
        <div>
            Subject :
        </div>
        <div>
            @Html.DisplayFor(model => model.LevelLeader.ProficiencyLevel.ProficiencyLevelName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/LevelLeader/Delete.js")" type="text/javascript"></script>