﻿@model AteneoHighschool.Data.LevelLeaderVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "LevelLeader", FormMethod.Post, new { @id = "EditLevelLeaderForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.LevelLeader.LevelLeaderId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.LevelLeader.Employee)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LevelLeader.EmployeeId, Model.EmployeeVM.EmployeeList, "")
            @Html.ValidationMessageFor(model => model.LevelLeader.EmployeeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LevelLeader.ProficiencyLevel)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LevelLeader.ProficiencyLevelId, Model.ProficiencyLevelVM.ProficiencyLevelList, "")
            @Html.ValidationMessageFor(model => model.LevelLeader.ProficiencyLevelId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/LevelLeader/Edit.js")" type="text/javascript"></script>
