﻿@{
    ViewBag.Title = "LEVEL LEADERS";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Level Leader" data-url="LevelLeader/Create" data-id="CreateLevelLeaderDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="LevelLeaderDT">
    <thead>
        <tr>
            <th></th>
            <th>Level</th>
            <th>Teacher Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/LevelLeader/Index.js")" type="text/javascript"></script>
