﻿@model AteneoHighschool.Data.RelationshipVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Relationship", FormMethod.Post, new { @id = "CreateRelationshipForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Relationship.Parent)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Relationship.ParentId, Model.ParentVM.ParentList, "")
            @Html.ValidationMessageFor(model => model.Relationship.ParentId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Relationship.Student)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Relationship.StudentId, Model.StudentVM.StudentList, "")
            @Html.ValidationMessageFor(model => model.Relationship.StudentId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Relationship/Create.js")" type="text/javascript"></script>

