﻿@model AteneoHighschool.Data.RelationshipVM

@using (@Html.BeginForm("DeleteJson", "Relationship", FormMethod.Post, new { @id = "DeleteRelationshipForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Relationship.RelationshipId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Parent :
        </div>
        <div>
            @Html.DisplayFor(model => model.Relationship.Parent.FullName)
        </div>
        <div>
            Student :
        </div>
        <div>
            @Html.DisplayFor(model => model.Relationship.Student.FullName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Relationship/Delete.js")" type="text/javascript"></script>