﻿@{
    ViewBag.Title = "RELATIONSHIP MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Relationship" data-url="Relationship/Create" data-id="CreateRelationshipDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="RelationshipDT">
    <thead>
        <tr>
            <th></th>
            <th>Parent Name</th>
            <th>Student Name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Relationship/Index.js")" type="text/javascript"></script>
