﻿@using System.Diagnostics
<script type="text/javascript">
    var url = "";
    $(document).ready(function() {
        $("#pns-menu").removeClass("active");
        $("#all-menu").removeClass("active");
        $("#create-menu").removeClass("active");
        $("#view-appointment-schedule").removeClass("active");
        $("#view-parent-appointment-schedule").addClass("active");
        $("#email-support-menu").removeClass("active");

        $('#child').change(function() {
            PopulateTeacher();
        });

        $('#teacher').change(function() {
            var events = {
                url: '/Appointment/GetAppointmentSchedules/',
                type: 'POST',
                data: {
                    personId: $('#teacher').val()
                }
            }
            $('#appointment-calendar').fullCalendar('removeEventSource', events);
            $('#appointment-calendar').fullCalendar('addEventSource', events);
        });

        var $dialog;
        //Temporary, works only on running as local
        var port = @{
                       Debug.Assert(Request.Url != null, "Request.Url != null");
                   }
            @Request.Url.Port;
        //
        $('#appointment-calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'basicWeek,basicDay'
            },
            theme: true,
            defaultView: 'basicWeek',
            editable: false,
            selectable: true,
            eventLimit: false, // allow "more" link when too many events
            weekends: false,
            loading: function(bool) {
                if (bool) {
                    $.blockUI({
                        message: '<img src="../Content/images/progress.gif" width="500px"/> <br/> Please Wait...',
                        css: { border: '2px solid #B8B8B8 ', cursor: 'wait', backgroundColor: '#FFFFFF' },
                        overlayCSS: { backgroundColor: '#B8B8B8 ', opacity: 0.2, cursor: 'wait' }
                    });
                } else {
                    $.unblockUI();
                }
            },
            events: url,
            eventClick: function(event) {
                var eventBox = this;
                $(eventBox).css("border-color", "red");
                if (event.className == "vacant") {
                    var url = 'http://localhost:' + port + '/Appointment/Update/' + event.id;
                    $dialog = $('<div></div>')
                        .html('<iframe style="border: 0px; " src="' + url + '" width="100%" height="100%"></iframe>')
                        .dialog({
                            autoOpen: false,
                            closeOnEscape: false,
                            modal: true,
                            width: 550,
                            height: 350,
                            buttons: {
                                "Close": function() {
                                    $(this).dialog('close');
                                    $(eventBox).css("border-color", "");
                                    $('#calendar').fullCalendar('refetchEvents');
                                },
                            },
                            open: function() {
                                $(this).css('overflow', 'hidden'); //hide scroll bar
                            }
                        });
                    $dialog.dialog('open');
                }
            },
            eventRender: function(event, element) {
                element.find('.fc-event-title').append("<br /><div class='description'>" + event.description + "</div>");
                $(element).css('height', '100px');
                $(element).css('font-family', 'Arial');
                $(element).css('padding', '0.5em');
            },
            eventMouseover: function() {
                $(this).css("border-color", "yellow");
            },
            eventMouseout: function() {
                $(this).css("border-color", "");
            },
        }); // end of #appointment-calendar

    }); // end of $(document).ready(function() {

    function PopulateTeacher() {
        var ChildName = $('#child').val();
        $.ajax({
            url: "/Appointment/GetTeachersOfChild/",
            type: "post",
            async: false,
            data: { childName: ChildName},
            success: function (data) {
                // Clear options
                $("#teacher").find("option").remove();
                $('#teacher').append($('<option>', { value: null }).text("-Teacher-"));
                if (data) {
                    // Loop through JSON response
                    $.each(data, function (key, value) {
                        $('#teacher').append($('<option>', { value: value.Value }).text(value.Text));
                    });
                }
            },
            error: function () {
                //alert("Something went wrong!");
                $("#ClassId").val("");
            }
        });
    }
</script>
<style>
     #container 
     {
         width: 800px;
     }       
    .description {
        font-size: 12px;
        font-weight: normal;
        color: black;
    }
    .calendar{
        background-color:White;   
    }
    .boxheight {
        height: 250px;
    }
    .fc-event{
        cursor: pointer;
    }
    .fc-event-time{
        display : none;
    }
    .fc-event-inner {
        font-size: 1.2em;
    }
    .fc-event-title 
    {
        font-weight: bold;
        font-size: 20px;
    }
    .vacant .fc-event-title
    {
        color: green;
    }
    .occupied .fc-event-title
    {
        color: red;
    }
</style>
<div id="container">
    <div id="loading" style="display:none">
        <img style='display:none' src="../../Content/images/progress.gif"/>
    </div>
    <div id="nonprintable">
        <select id="child">
            <option value="">-Child-</option>
            @foreach (var item in ViewBag.Child)
            {
                <option value="@item">@item</option> 
            }
        </select>
        <select id="teacher">
            <option value="">-Teacher-</option>
        </select>
    </div>
    <div id='appointment-calendar'>
    </div>
</div>