﻿<script type="text/javascript">
    var url = "/Appointment/GetAppointmentSchedules/";
    $(document).ready(function () {
        $("#pns-menu").removeClass("active");
        $("#all-menu").removeClass("active");
        $("#create-menu").removeClass("active");
        $("#view-appointment-schedule").addClass("active");
        $("#view-parent-appointment-schedule").removeClass("active");
        $("#email-support-menu").removeClass("active");

        $('#appointment-calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'basicWeek,basicDay'
            },
            theme: true,
            defaultView: 'basicWeek',
            editable: false,
            selectable: true,
            eventLimit: false, // allow "more" link when too many events
            weekends: false,
            loading: function(bool) {
                if (bool) {
                    $.blockUI({
                        message: '<img src="../Content/images/progress.gif" width="500px"/> <br/> Please Wait...',
                        css: { border: '2px solid #B8B8B8 ', cursor: 'wait', backgroundColor: '#FFFFFF' },
                        overlayCSS: { backgroundColor: '#B8B8B8 ', opacity: 0.2, cursor: 'wait' }
                    });
                } else {
                    $.unblockUI();
                }
            },
            events: url,
            eventClick: function(event) {
                var eventBox = this;
                $(eventBox).css("border-color", "red");
            },
            eventRender: function(event, element) {
                element.find('.fc-event-title').append("<br /><div class='description'>" + event.description + "</div>");
                $(element).css('height', '100px');
                $(element).css('font-family', 'Arial');
                $(element).css('padding', '0.5em');
            },
            eventMouseover: function() {
                $(this).css("border-color", "yellow");
            },
            eventMouseout: function() {
                $(this).css("border-color", "");
            },
        }); // end of #appointment-calendar

    }); // end of $(document).ready(function() {
</script>
<style>
    #container 
    {
        width: 800px;
    }       
    .description {
        font-size: 12px;
        font-weight: normal;
        color: black;
    }
    .calendar{
        background-color:White;   
    }
    .boxheight {
        height: 250px;
    }
    .fc-event{
        cursor: pointer;
    }
    .fc-event-time{
        display : none;
    }
    .fc-event-inner {
        font-size: 1.2em;
    }
    .fc-event-title 
    {
        font-weight: bold;
        font-size: 20px;
    }
    .vacant .fc-event-title
    {
        color: green;
    }
    .occupied .fc-event-title
    {
        color: red;
    }
</style>
<div id="container">
    <div id="loading" style="display:none">
        <img style='display:none' src="../../Content/images/progress.gif"/>
    </div>
    <div id='appointment-calendar'>
    </div>
</div>