﻿@model AteneoHighschool.Data.AppointmentVM
@{
    ViewBag.Title = "Update";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/default/jquery-ui-1.10.3.custom.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style.css")"/>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Submit').on('click', function () {
            $('##appointment-calendar').load();
        });
        $(".uiButton").button();
    });
    $(function () {
        $("#tabs").tabs();
    });
</script>
<style>
    body {
        text-align: left;
        direction: ltr;
        font-family: Lucida Grande,Lucida Sans, Arial,sans-serif!important;
    }

    body, button, input, label, select, td, textarea, label {
        font-size:13px!important;
        color:#362b36;
    }
</style>
<div id='tabs'>
    <div>
        <ul>
            <li><a href="#set-appointment">Set Appointment</a></li>
        </ul>
    </div>
    <div id="set-appointment" class="ui-widget ui-widget-content ui-form-body">
        @using (@Html.BeginForm("Update", "Appointment", FormMethod.Post, new { @id = "AppointmentFrom" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Appointment.AppoitmentId)
            @Html.HiddenFor(model => model.Appointment.EmployeeId)
            @Html.HiddenFor(model => model.Appointment.ParentId)
            @Html.HiddenFor(model => model.Appointment.StudentId)
            @Html.HiddenFor(model => model.Appointment.ScheduleDate)
            @Html.HiddenFor(model => model.Appointment.TimeStart)
            @Html.HiddenFor(model => model.Appointment.TimeEnd)

            <fieldset class="ui-form">
                <div style="color: green">@ViewBag.CreateSuccess</div>
                <div style="color: red">@ViewBag.CreateFail</div>
                <div>
                    Are you sure to set an Appointment with @Html.DisplayFor(model => model.Appointment.Employee.Person.FullName)?
                </div>
                <p>
                    <input id="Submit" type="submit" value="Set Appointment" class="uiButton"/>
                </p>
            </fieldset>
        }
    </div>
</div>
