﻿@model AteneoHighschool.Data.CampusVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Campus", FormMethod.Post, new { @id = "CreateCampusForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Campus.CampusCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Campus.CampusCode)
            @Html.ValidationMessageFor(model => model.Campus.CampusCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Campus.CampusName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Campus.CampusName)
            @Html.ValidationMessageFor(model => model.Campus.CampusName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Campus.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Campus.Description)
            @Html.ValidationMessageFor(model => model.Campus.Description)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Campus.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Campus.Location)
            @Html.ValidationMessageFor(model => model.Campus.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Campus.School)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Campus.SchoolId, Model.SchoolVM.SchoolList, "")
            @Html.ValidationMessageFor(model => model.Campus.SchoolId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Campus/Create.js")" type="text/javascript"></script>

