﻿@model AteneoHighschool.Data.CampusVM

@using (@Html.BeginForm("DeleteJson", "Campus", FormMethod.Post, new {@id = "DeleteCampusForm"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Campus.CampusId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Campus Code :
        </div>
        <div>
            @Html.DisplayFor(model => model.Campus.CampusCode)
        </div>

        <div>
            Campus Name :
        </div>
        <div>
            @Html.DisplayFor(model => model.Campus.CampusName)
        </div>

        <div>
            Description :
        </div>
        <div>
            @Html.DisplayFor(model => model.Campus.Description)
        </div>
        
        <div>
            Location:
        </div>
        <div>
            @Html.DisplayFor(model => model.Campus.Description)
        </div>
        
        <div>
            School:
        </div>
        <div>
            @Html.DisplayFor(model => model.Campus.School.SchoolName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Campus/Delete.js")" type="text/javascript"></script>