﻿@{
    ViewBag.Title = "CAMPUS MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Campus" data-url="Campus/Create" data-id="CreateCampusDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="CampusDT">
    <thead>
        <tr>
            <th></th>
            <th>Campus Code</th>
            <th>Campus Name</th>
            <th>School Name</th>
            <th>Description</th>
            <th>Location</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Campus/Index.js")" type="text/javascript"></script>