﻿@model AteneoHighschool.Data.CategoryVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "Category", FormMethod.Post, new { @id = "CreateCategoryForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Category.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category.CategoryName)
            @Html.ValidationMessageFor(model => model.Category.CategoryName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Category.Sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category.Sequence)
            @Html.ValidationMessageFor(model => model.Category.Sequence)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Category/Create.js")" type="text/javascript"></script>
