﻿@model AteneoHighschool.Data.CategoryVM

@using (@Html.BeginForm("DeleteJson", "Category", FormMethod.Post, new { @id = "DeleteCategoryForm" }))
{
          @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Category.CategoryId)

<h3>Are you sure you want to delete this?</h3>
<fieldset class="ui-form">
    <div>
         @Html.DisplayNameFor(model => model.Category.CategoryName) :
    </div>
    <div>
        @Html.DisplayFor(model => model.Category.CategoryName)
    </div>
</fieldset>
}
<script src="@Url.Content("~/Content/Js/Category/Delete.js")" type="text/javascript"></script>