﻿@model AteneoHighschool.Data.CategoryVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "Category", FormMethod.Post, new { @id = "EditCategoryForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Category.CategoryId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Category.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category.CategoryName)
            @Html.ValidationMessageFor(model => model.Category.CategoryName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Category.Sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category.Sequence)
            @Html.ValidationMessageFor(model => model.Category.Sequence)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Category/Edit.js")" type="text/javascript"></script>