﻿@{
    ViewBag.Title = "CATEGORY MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Category" data-url="Category/Create" data-id="CreateCategoryDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="CategoryDT">
    <thead>
        <tr>
            <th></th>
            <th>Category</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Category/Index.js")" type="text/javascript"></script>
