﻿@model AteneoHighschool.Data.AppointmentScheduleVM

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("CreateJson", "AppointmentSchedule", FormMethod.Post, new { @id = "CreateAppointmentScheduleForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AppointmentSchedule.TeacherId)
    
    <fieldset class="ui-form">
        <div class="editor-label">
            Day: 
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.AppointmentSchedule.ScheduleId, Model.ScheduleVM.ScheduleList, "")
            @Html.ValidationMessageFor(model => model.AppointmentSchedule.ScheduleId)
        </div>

        <div class="editor-label">
            Start and End Time:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AppointmentSchedule.TimeStart, "Time")
            @Html.ValidationMessageFor(model => model.AppointmentSchedule.TimeStart)
             - 
            @Html.EditorFor(model => model.AppointmentSchedule.TimeEnd, "Time")
            @Html.ValidationMessageFor(model => model.AppointmentSchedule.TimeEnd)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/AppointmentSchedule/Create.js")" type="text/javascript"></script>
