﻿@model AteneoHighschool.Data.AppointmentScheduleVM

@using (@Html.BeginForm("DeleteJson", "AppointmentSchedule", FormMethod.Post, new { @id = "DeleteAppointmentScheduleForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AppointmentSchedule.AppointmentScheduleId)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Schedule Date:
        </div>
        <div>
            @Html.DisplayFor(model => model.AppointmentSchedule.ScheduleDate)
        </div>

        <div>
            Start and End Time: 
        </div>
        <div>
            @Html.DisplayFor(model => model.AppointmentSchedule.TimeStart)
            - 
            @Html.DisplayFor(model => model.AppointmentSchedule.TimeEnd)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/AppointmentSchedule/Delete.js")" type="text/javascript"></script>