﻿@model AteneoHighschool.Data.AppointmentScheduleVM
@{
    ViewBag.Title = "Edit";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("EditJson", "AppointmentSchedule", FormMethod.Post, new { @id = "EditAppointmentScheduleForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.AppointmentSchedule.AppointmentScheduleId)
         @Html.HiddenFor(model => model.AppointmentSchedule.TeacherId)

    <fieldset class="ui-form">
        <div class="editor-label">
            Schedule Date:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AppointmentSchedule.ScheduleDate)
            @Html.ValidationMessageFor(model => model.AppointmentSchedule.ScheduleDate)
        </div>

        <div class="editor-label">
            Start and End Time:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AppointmentSchedule.TimeStart, "Time")
            @Html.ValidationMessageFor(model => model.AppointmentSchedule.TimeStart)
             - 
            @Html.EditorFor(model => model.AppointmentSchedule.TimeEnd, "Time")
            @Html.ValidationMessageFor(model => model.AppointmentSchedule.TimeEnd)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/AppointmentSchedule/Edit.js")" type="text/javascript"></script>
