﻿@{
    ViewBag.Title = "APPOINTMENT SCHEDULE MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<script type="text/javascript" language="javascript">
    $(function () {
        $(".button-create").button({
            text: true,
            icons: {
                primary: "ui-icon-plusthick"
            }
        });
    });
</script>
<div>
    <span data-dialog-title="Create AppointmentSchedule" data-url="AppointmentSchedule/Create" data-id="CreateAppointmentScheduleDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span>
    @Html.ActionLink("Generate Appointment Schedules", "GenerateAppointmentSchedule", "AppointmentSchedule", new { @class = "button-create" })
</div>
<table class="display" id="AppointmentScheduleDT">
    <thead>
        <tr>
            <th></th>
            <th>Teacher Name</th>
            <th>Schedule</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/AppointmentSchedule/Index.js")" type="text/javascript"></script>