﻿.communication
		{
		background: url(images/menu.png);
		max-width:100%;
		height:auto;
		-moz-border-radius:5px 5px 0px 0px;
		-webkit-border-radius:5px 5px 0px 0px;
		border-radius:5px 5px 0px 0px;
		}
			
	.communication .heading
		{
		text-align:left;
		font-size:16px;
		padding-left:10px;
		font-weight:bold;
		line-height: 35px;
		color: #FFFFFF;
		}
	.communication .content 
		{
		background: white;
		font-color:black
		-moz-border-radius:0px 0px 5px 5px;
		-webkit-border-radius:0px 0px 5px 5px;
		border-radius:0px 0px 5px 5px;
		}
	.button
		{
		text-align:center;
		padding-bottom:10px;
		padding-left:15px;
		}
	/* Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	
	@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 30%; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
	
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}