﻿@model AteneoHighschool.Data.TermVM
<div class="ui-widget ui-widget-content ui-form-body">
    <fieldset>
        @Html.HiddenFor(model => model.Term.TermId)
        <div>
            <label>Term: </label>
            @Html.DisplayFor(model => model.Term.TermName)
        </div>
        <div>
            <label>Type: </label>
            @Html.DisplayFor(model => model.Term.TermType.TermTypeName)
        </div>
        <div>
            <label>Academic Year: </label>
            @Html.DisplayFor(model => model.Term.AcademicYear.AcademicYearName) 
        </div>
        <div>
            <label>Start Date: </label>
            @Html.DisplayFor(model => model.Term.StartDate)
        </div>
        <div>
            <label>End Date: </label>
            @Html.DisplayFor(model => model.Term.EndDate)
        </div>
    </fieldset>
</div>