﻿@model AteneoHighschool.Data.TermVM

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({
            dateFormat: 'DD, d MM, yy',
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showWeek: true
        });
    });
</script>
@using (@Html.BeginForm("CreateJson", "Term", FormMethod.Post, new {@id = "CreateTermForm"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.Term.TermName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Term.TermName)
            @Html.ValidationMessageFor(model => model.Term.TermName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Term.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Term.Description)
            @Html.ValidationMessageFor(model => model.Term.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Term.AcademicYear)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Term.AcademicYearId, Model.AcademicYearVM.AcademicYearList, "")
            @Html.ValidationMessageFor(model => model.Term.AcademicYearId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Term.TermType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Term.TermTypeId, Model.TermTypeVM.TermTypeList, "")
            @Html.ValidationMessageFor(model => model.Term.TermTypeId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Term.StartDate)
        </div>
        <div id="datepicker">
            @Html.EditorFor(model => model.Term.StartDate, new { @class="date-picker" })
            @Html.ValidationMessageFor(model => model.Term.StartDate)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Term.EndDate)
        </div>
        <div id="datepicker">
            @Html.EditorFor(model => model.Term.EndDate, new { @class="date-picker" })
            @Html.ValidationMessageFor(model => model.Term.EndDate)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Term.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Term.IsActive)
            @Html.ValidationMessageFor(model => model.Term.IsActive)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/Term/Create.js")" type="text/javascript"></script>