﻿@model AteneoHighschool.Data.TermVM

@using (@Html.BeginForm("DeleteJson", "Term", FormMethod.Post, new { @id = "DeleteTermForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Term.TermId)
         
    <h3>Are you sure you want to delete this?</h3>
  <fieldset >
    <div>
        @Html.DisplayFor(model => model.Term.TermName)
    </div>

    <div>
        @Html.DisplayFor(model => model.Term.AcademicYear.AcademicYearName)
    </div>

    <div>
        @Html.DisplayFor(model => model.Term.TermType.TermTypeName)
    </div>

    <div>
        @Html.DisplayFor(model => model.Term.StartDate)
    </div>
    
    <div>
        @Html.DisplayFor(model => model.Term.EndDate)
    </div>
      
    <div>
          @Html.DisplayFor(model => model.Term.IsActive)
    </div>
  </fieldset>
}
<script src="@Url.Content("~/Content/Js/Term/Delete.js")" type="text/javascript"></script>