﻿@{
    ViewBag.Title = "SEMESTER MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Term" data-url="Term/Create" data-id="CreateTermDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="TermDT">
    <thead>
        <tr>
            <th></th>
            <th>Semester</th>
            <th>Description</th>
            <th>Academic Year</th>
            <th>Term Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Is Active?</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/Term/Index.js")" type="text/javascript"></script>
