﻿@model AteneoHighschool.Data.ClassTeacherVM

@{
    ViewBag.Title = "Create";
}
@using (@Html.BeginForm("CreateJson", "ClassTeacher", FormMethod.Post, new { @id = "CreateClassTeacherForm" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.ClassTeacher.CurriculumClass)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ClassTeacher.CurriculumClassId, Model.CurriculumClassVM.CurriculumClassList, "")
            @Html.ValidationMessageFor(model => model.ClassTeacher.CurriculumClassId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClassTeacher.Employee)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ClassTeacher.EmployeeId, Model.EmployeeVM.EmployeeList, "")
            @Html.ValidationMessageFor(model => model.ClassTeacher.EmployeeId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/ClassTeacher/Create.js")" type="text/javascript"></script>

