﻿@model AteneoHighschool.Data.ClassTeacherVM

@using (@Html.BeginForm("DeleteJson", "ClassTeacher", FormMethod.Post, new { @id = "DeleteClassTeacherForm" }))
{
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.ClassTeacher.ClassTeacherId)

         <h3>Are you sure you want to delete this?</h3>
    <fieldset class="ui-form">
        <div>
            Section :
        </div>
        <div>
            @Html.DisplayFor(model => model.ClassTeacher.CurriculumClass.CurriculumClassName)
        </div>
        <div>
            Teacher :
        </div>
        <div>
            @Html.DisplayFor(model => model.ClassTeacher.Employee.Person.FullName)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/ClassTeacher/Delete.js")" type="text/javascript"></script>