﻿@model AteneoHighschool.Data.ClassTeacherVM

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("EditJson", "ClassTeacher", FormMethod.Post, new { @id = "EditClassTeacherForm" }))
{
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.ClassTeacher.ClassTeacherId)
         @Html.HiddenFor(model => model.CurriculumClassVM.CurriculumClass.CurriculumClassId)
         @Html.HiddenFor(model => model.EmployeeVM.Employee.EmployeeId)

    <fieldset class="ui-form">
        <div class="editor-label">
            @Html.LabelFor(model => model.ClassTeacher.CurriculumClass)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ClassTeacher.CurriculumClassId, Model.CurriculumClassVM.CurriculumClassList, "")
            @Html.ValidationMessageFor(model => model.ClassTeacher.CurriculumClassId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClassTeacher.Employee)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ClassTeacher.EmployeeId, Model.EmployeeVM.EmployeeList, "")
            @Html.ValidationMessageFor(model => model.ClassTeacher.EmployeeId)
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Content/Js/ClassTeacher/Edit.js")" type="text/javascript"></script>
