﻿@{
    ViewBag.Title = "CLASS TEACHER MANAGEMENT";
}
<h2>@ViewBag.Title</h2>
<div>
    <span data-dialog-title="Create Class Teacher" data-url="ClassTeacher/Create" data-id="CreateClassTeacherDialog" class="uiButton" data-process-button="Create" onclick="loadAndShowDialog($(this))">Create</span> 
</div>
<table class="display" id="ClassTeacherDT">
    <thead>
        <tr>
            <th></th>
            <th>Class Name</th>
            <th>Teacher Name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/Js/ClassTeacher/Index.js")" type="text/javascript"></script>
